/bin
/releases
/maven
**/build/
**/repository/
**/.settings
**/.project
**/.classpath
**/test-output/
**/img
/dependencies
**/out.txt
**/pom.xml.versionsBackup
**/test-results/
**/target
**/secret.txt