#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 11104; display: none; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; }
#fancybox-loading div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background-image: url('../img/fancy/fancybox.png') !important; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -o-box-sizing: content-box; -ms-box-sizing: content-box; }
#fancybox-overlay { position: absolute; top: 0; left: 0; width: 100%; z-index: 11100; display: none; box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -moz-box-sizing: content-box; }
#fancybox-tmp { padding: 0; margin: 0; border: 0; overflow: auto; display: none; }
#fancybox-wrap { max-width: 480px !important; width:100% !important; position: absolute; top: 0; left: 50% !important; transform:translateX(-50%) !important; -webkit-transform:translateX(-50%) !important; -moz-transform:translateX(-50%) !important; -ms-transform:translateX(-50%) !important; -o-transform:translateX(-50%) !important; padding: 20px 0; z-index: 11101; outline: none; display: none; box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -moz-box-sizing: content-box; }
#fancybox-wrap > div { width: 100% !important; box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -moz-box-sizing: content-box; }
#fancybox-outer { max-width: 480px !important; position: relative; width: 100%; height: 100%; background: #fff; }
.page-template-customers-php #fancybox-content { height: auto !important; min-height: auto !important; }
#fancybox-content { width:100% !important; height: auto !important; padding:15px; outline: none; position: relative; overflow: hidden; z-index: 11102; border: 0px solid #fff; }
#fancybox-content > div { max-width: 100% !important; height:auto !important; }
#fancybox-hide-sel-frame { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; z-index: 11101; }
#fancybox-close { opacity:0.5; position: absolute; top: 10px; right: 10px; width: 15px; height: 15px; background: url('../img/fancy/fancy_close_1.png') no-repeat 50% 50%; cursor: pointer; z-index: 11103; }
#fancybox-close:hover { opacity: 1; }
#fancybox-error { color: #444; padding: 14px; margin: 0; }
#fancybox-img { width: 100%; height: 100%; padding: 0; margin: 0; border: none; outline: none; line-height: 0; vertical-align: top; }
#fancybox-frame { width: 100%; height: 100%; border: none; display: block; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: none; background: transparent url('../img/fancy/blank.gif') !important; z-index: 11102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 11102; display: block; }
#fancybox-left-ico { background-image: url('../img/fancy/fancybox.png') !important; background-position: -40px -30px !important; }
#fancybox-right-ico { background-image: url('../img/fancy/fancybox.png') !important; background-position: -40px -60px !important; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0; margin: 0; border: 0; width: 20px; height: 20px; z-index: 11001; } 
#fancybox-bg-n { top: -20px; left: 0; width: 100%; background-image: url('../img/fancy/fancybox-x.png') !important; }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('../img/fancy/fancybox.png') !important; background-position: -40px -162px !important; }
#fancybox-bg-e { top: 0; right: -20px; height: 100%; background-image: url('../img/fancy/fancybox-y.png') !important; background-position: -20px 0px !important; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('../img/fancy/fancybox.png') !important; background-position: -40px -182px !important; }
#fancybox-bg-s { bottom: -20px; left: 0; width: 100%; background-image: url('../img/fancy/fancybox-x.png') !important; background-position: 0px -20px !important; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('../img/fancy/fancybox.png') !important; background-position: -40px -142px !important; }
#fancybox-bg-w { top: 0; left: -20px; height: 100%; background-image: url('../img/fancy/fancybox-y.png') !important; }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('../img/fancy/fancybox.png') !important; background-position: -40px -122px !important; }
#fancybox-title { z-index: 11102; left: 0 !important; display: block; top: -40px !important; border-bottom: 1px solid #e5e5e5; height: 60px; border-radius: 6px 6px 0 0; width:100%; 
background: #fff;
background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0));
background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); }
.fancybox-title-inside { padding-bottom: 10px; text-align: center; color: #333; background: #fff; position: relative; }
.fancybox-title-outside { padding-top: 10px; color: #fff; }
.fancybox-title-over { position: absolute; bottom: 0; left: 0; color: #FFF; text-align: left; }
#fancybox-title-over { padding: 10px; background-image: url('../img/fancy/fancy_title_over.png') !important; display: block; }
.fancybox-title-float { position: absolute; left: 0; bottom: -20px; height: 32px; }
#fancybox-title-float-wrap { border: none; border-collapse: collapse; width: auto; }
#fancybox-title-float-wrap td { border: none; white-space: nowrap; }
#fancybox-title-float-left { display:none; background: none; }
#fancybox-title-float-right { display:none; background: none; }
#fancybox-title-float-main { width: 95% !important; background: none !important; color:#666666 !important; font-weight: normal !important; padding: 17px 20px !important; font-size: 18px; }

/* IE */
.fancybox-ie .fancybox-bg { background: transparent !important }


@media (max-width:520px){
#fancybox-wrap { max-width:80% !important; }
}
