
				/** ----------------------------------------------------------------
				 ******** General Style
				 ---------------------------------------------------------------- **/	

				.suppa_holder{
					height:50px !important;
				}

				.suppaMenu_wrap {
					height:70px !important;
					z-index:99999999999;
				}

				.suppaMenu_wrap_wide_layout {
					background-color:transparent;
					
					/* Borders */
					border-top: 0px solid transparent;
					border-left: 0px solid transparent;

					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, transparent, transparent) ;
					background-image: -moz-linear-gradient(top, transparent, transparent) ;
					background-image: -o-linear-gradient(top, transparent, transparent) ;
					background-image: -ms-linear-gradient(top, transparent, transparent) ;
					background-image: linear-gradient(top, transparent, transparent) ;	
				
					
				}

				.suppaMenu {

					width:100%;
					z-index:99999999999;
					height:50px !important;

					background-color:transparent;
					
					/* Borders */
					border-top: 0px solid transparent;
					border-right: 0px solid transparent;
					border-bottom: 0px solid transparent;
					border-left: 0px solid transparent;

					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, transparent, transparent) ;
					background-image: -moz-linear-gradient(top, transparent, transparent) ;
					background-image: -o-linear-gradient(top, transparent, transparent) ;
					background-image: -ms-linear-gradient(top, transparent, transparent) ;
					background-image: linear-gradient(top, transparent, transparent) ;

					

					/* CSS3 Box Shadow */
					-moz-box-shadow   : 0px 0px 0px 0px rgba(0,0,0,0);
					-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
					box-shadow        : 0px 0px 0px 0px rgba(0,0,0,0);
				
					/* CSS3 Border Radius */
					-webkit-border-radius: 0px 0px 0px 0px; 
					-moz-border-radius: 0px 0px 0px 0px; 
					border-radius: 0px 0px 0px 0px; 
				}


				/** ----------------------------------------------------------------
				 ******** Logo Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_logo img{
					padding : 0px 0px 0px 0px !important;
				}
				.suppa_menu_logo {
					height:50px;
					border-right:1px solid transparent !important;
				}




				/** ----------------------------------------------------------------
				 ******** Top Level Links Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_mega_posts .suppa_top_level_link ,
				.suppa_menu_dropdown .suppa_top_level_link ,
				.suppa_menu_posts .suppa_top_level_link ,
				.suppa_menu_html .suppa_top_level_link ,
				.suppa_menu_links .suppa_top_level_link {
					font-size:12px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;				
				}

				.suppa_top_level_link {
					height:50px !important;
					color:#c9c9c9;
				}

				.suppa_top_level_link .suppa_item_title {
					font-size:12px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;
					color:#c9c9c9;

					padding-top:15px !important;
	
				}

				.suppa_menu {
					height:50px !important;
				}

				.suppa_menu_mega_posts .suppa_top_level_link ,
				.suppa_menu_dropdown .suppa_top_level_link ,
				.suppa_menu_posts .suppa_top_level_link ,
				.suppa_menu_html .suppa_top_level_link ,
				.suppa_menu_links .suppa_top_level_link,
				.suppa_menu_linksTwo .suppa_top_level_link {
					padding-left:15px;
					padding-right:15px;
					border-color:transparent !important;
				}

				.suppa_menu .suppa_top_level_link.suppa_top_links_has_arrow{
					padding-right:25px;
				}
				/** ----------------------------------------------------------------
				 ******** Description Style
				 ---------------------------------------------------------------- **/	
				.suppa_top_level_link .suppa_item_desc{
					font-size:12px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;

					padding-top:5px !important;			
				}
				.suppa_menu:hover .suppa_top_level_link .suppa_item_desc{
					color:#c9c9c9;;
				}

				/** ----------------------------------------------------------------
				 ******** Top Level Links on [HOVER] Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu:hover .suppa_top_level_link {
					background-color:#03111c;
					color:#ffffff;
				}
				.suppa_menu:hover .suppa_top_level_link .suppa_item_title {
					color:#ffffff;
				}

				/** Needed for suppa_frontend.js **/
				.suppa_menu.suppa_menu_class_hover .suppa_top_level_link {
					background-color:#03111c !important;
					color:#ffffff !important;
				}
				.suppa_menu.suppa_menu_class_hover .suppa_top_level_link .suppa_item_title {
					color:#ffffff !important;
				}

				/* boder right or left */
				.suppa_menu .suppa_top_level_link.suppa_menu_position_left {
					border-right:1px solid transparent;
				}
				.suppa_menu .suppa_top_level_link.suppa_menu_position_right {
					border-left:1px solid transparent;
				}

				/** ----------------------------------------------------------------
				 ******** Top Level Arrow Style
				 ---------------------------------------------------------------- **/				
				.suppa_top_level_link .ctf_suppa_fa_box_top_arrow{
						font-size:14px !important;
						top:15px !important;
						right:5px !important;
						
						/* color/bg/border */
						color:#c9c9c9;
				}
				.suppa_menu:hover .suppa_top_level_link .ctf_suppa_fa_box_top_arrow{
					color:#ffffff !important;
				}
				/** Needed for suppa_frontend.js **/
				.suppa_menu.suppa_menu_class_hover .suppa_top_level_link .ctf_suppa_fa_box_top_arrow,
				.suppa_menu.suppa_menu_class_hover .suppa_top_level_link .ctf_suppa_fa_box{
					color:#ffffff !important;
				}

				/** ----------------------------------------------------------------
				 ******** Current Top Level Style
				 ---------------------------------------------------------------- **/				
				.suppa_menu .suppa_top_level_link.current-menu-item,
				.suppa_menu .suppa_top_level_link.current-menu-item .ctf_suppa_fa_box,
				.suppa_menu .suppa_top_level_link.current-menu-item .suppa_item_title,
				.suppa_menu .suppa_top_level_link.current-menu-ancestor,
				.suppa_menu .suppa_top_level_link.current-menu-ancestor .ctf_suppa_fa_box,
				.suppa_menu .suppa_top_level_link.current-menu-ancestor .suppa_item_title{
					color:#ffffff ;
				}

				.suppa_menu .suppa_top_level_link.current-menu-item,
				.suppa_menu .suppa_top_level_link.current-menu-ancestor {
					background-color:#2b2b2b;
				}

				.suppa_menu .suppa_top_level_link.current-menu-ancestor .era_suppa_arrow_box span,
				.suppa_menu .suppa_top_level_link.current-menu-item .era_suppa_arrow_box span{
					color:#ffffff;
				}

				/** ----------------------------------------------------------------
				 ******** Top Level Icons
				 ---------------------------------------------------------------- **/
				/** F.Awesome Icons **/
				.suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
					color:#c9c9c9;
				}
				.suppa_menu:hover .suppa_top_level_link .ctf_suppa_fa_box{
					color:#ffffff;
				}
				.suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
					font-size:20px !important;
					margin-top: 16px !important;
					padding-right: 10px !important;
				}

				/** Uploaded Icons **/
				.suppa_menu .suppa_top_level_link .suppa_upload_img{
					width : 20px !important; 
					height : 20px !important; 
					margin-top: 16px !important;
					padding-right: 10px !important;
				}



				/** ----------------------------------------------------------------
				 ******** General Submenu
				 ---------------------------------------------------------------- **/
				.suppa_submenu {
					
					top:50px !important;

					/* color/bg/border */
					background-color:#0e2638;
									
					border-top: 0px solid #111111;
					border-right: 0px solid #111111;
					border-bottom: 0px solid #111111;
					border-left: 0px solid #111111;

					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, transparent, transparent) ;
					background-image: -moz-linear-gradient(top, transparent, transparent) ;
					background-image: -o-linear-gradient(top, transparent, transparent) ;
					background-image: -ms-linear-gradient(top, transparent, transparent) ;
					background-image: linear-gradient(top, transparent, transparent) ;

					

					/* CSS3 Box Shadow */
					-moz-box-shadow   : 0px 0px 2px 1px rgba( 100,100,100,0.2);
					-webkit-box-shadow: 0px 0px 2px 1px rgba( 100,100,100,0.2);
					box-shadow        : 0px 0px 2px 1px rgba( 100,100,100,0.2);
				
					/* CSS3 Border Radius */
					-webkit-border-radius: 0px 0px 4px 4px; 
					-moz-border-radius: 0px 0px 4px 4px; 
					border-radius: 0px 0px 4px 4px; 			
				}



				/** ----------------------------------------------------------------
				 ******** SubMenu Posts 
				 ---------------------------------------------------------------- **/
				.suppa_post {
					width: 209px;
				}
					.suppa_post a{
						width: 209px;
					}
					.suppa_post img{
						width: 209px;
						height: 160px;
					}
					.suppa_post div.suppa_post_link_container {
						width: 209px !important;
					}

				.suppa_post {
					margin: 15px 0px 15px 15px !important;
				}
					.suppa_post div.suppa_post_link_container {
						background-color: #0b1b26 !important ;
					}
					.suppa_post span {
						font-size:12px !important;
						font-family:'Lato', sans-serif !important; 
						font-style:normal;

						padding: 10px 10px 10px 10px !important;

						/* color/bg/border */
						color:#f1f1f1;	
					}
						.suppa_post span:hover ,
						.suppa_post span:hover {
							/* color/bg/border */
							color:#ffffff !important;	
						}

					.suppa_latest_posts_view_all{
						font-size:12px !important;
						font-family:'Lato', sans-serif !important; 
						font-style:normal;
						padding: 15px 15px ;
						margin: 15px 15px;
 						
						/* color/bg/border */
						color:#313131;
						background-color: #ffffff !important ;
					}

					.suppa_latest_posts_view_all:hover{
						/* color/bg/border */
						color:#313131;
						background-color: #ffffff !important ;
					}


				/** ----------------------------------------------------------------
				 ******** SubMenu Mega Links Two 
				 ---------------------------------------------------------------- **/
				.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a {
					font-size:16px !important;
					font-family:'Lato', sans-serif !important; 
					font-style:normal;

					padding-top: 10px;
					padding-bottom: 10px ;
					padding-left: 10px ;
					padding-right: 10px ;

					/* color/bg/border */
					color:#c9c9c9;
					border-bottom:1px solid #1d3c4d;
				}
				.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a:hover,
				.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a.suppa_linksTwo_categoriesContainer_current {
					color:#ffffff !important;
					background-color:#1d3c4d !important;
				}


				.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_cat a {
					font-size:14px !important;
					font-family:'Lato', sans-serif !important; 
					font-style:normal;

					padding-top: 10px;
					padding-bottom: 10px ;
					padding-left: 10px ;
					padding-right: 10px ;

					/* color/bg/border */
					color:#c9c9c9;
				}
				.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_cat a:hover {
					color:#ffffff !important;
				}
				/** ----------------------------------------------------------------
				 ******** SubMenu Mega Links Two Arrow Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a .suppa_megaLinksTwo_mainLinkArrow{
					top:13px !important;
					right:5px !important;
				}
				.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a .suppa_megaLinksTwo_mainLinkArrow span {
					font-size:14px !important;
					/* color/bg/border */
					color:#f1f1f1;
				}
				.suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a:hover .suppa_megaLinksTwo_mainLinkArrow span {
					color:#ffffff !important;
				}

				/** Needed for suppa_frontend.js **/
				.suppa_menu_mega_posts .suppa_mega_posts_cat_selected .suppa_mega_posts_arrow span{
					color:#ffffff !important;
				}


				/** ----------------------------------------------------------------
				 ******** SubMenu Mega Posts 
				 ---------------------------------------------------------------- **/
				.suppa_menu_mega_posts .suppa_mega_posts_categories{
					margin-top:15px;
				}
				.suppa_menu_mega_posts .suppa_mega_posts_categories a {
					font-family : 'Lato', sans-serif;
					font-size:12px !important;
					font-style:normal;
					color :#f1f1f1;
					padding-top:15px;
					padding-left:15px;
					padding-bottom:15px;
					padding-right:0px;
				
					background-color:transparent;
				}
				.suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_item_title{
					font-family : 'Lato', sans-serif;
					font-size:12px !important;
					font-style:normal;
					color :#f1f1f1;					
				}
				.suppa_menu_mega_posts .suppa_mega_posts_categories a:hover,
				.suppa_menu_mega_posts .suppa_mega_posts_categories a.suppa_mega_posts_cat_selected {
					background-color:#0b1b26;
					color :#ffffff;
				}

				.suppa_menu_mega_posts .suppa_mega_posts_categories a:hover .suppa_item_title,
				.suppa_menu_mega_posts .suppa_mega_posts_categories a.suppa_mega_posts_cat_selected .suppa_item_title{
					color :#ffffff;
				}
				.suppa_mega_posts_post_article {
					margin-top:15px;
					margin-left:15px;
					margin-bottom:15px;
					margin-right:0px;				
				}

				.suppa_mega_posts_post_article span{
					font-family : 'Lato', sans-serif;
					font-size:12 !important;
					font-style:normal;
					color :#f1f1f1;
					
					padding-top:10px;
					padding-left:10px;
					padding-bottom:10px;
					padding-right:10px;
				
				}

				.suppa_mega_posts_post_article div.suppa_post_link_container {
					background-color: #0b1b26 !important ;
				}

				.suppa_mega_posts_post_article:hover span{
					color :#ffffff;
				}

				.suppa_mega_posts_post_article {
					width : 200px !important;
				}
					.suppa_mega_posts_post_article img{
						width : 200px !important;
						height : 160px !important;
					}

				/** ----------------------------------------------------------------
				 ******** Submenu Mega Posts Arrow Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_mega_posts_arrow {
					top:13px !important;
					right:5px !important;
				}
				.suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_mega_posts_arrow span {
					font-size:14px !important;
					/* color/bg/border */
					color:#f1f1f1;
				}
				.suppa_menu_mega_posts .suppa_mega_posts_categories a:hover .suppa_mega_posts_arrow span {
					color:#ffffff !important;
				}

				/** Needed for suppa_frontend.js **/
				.suppa_menu_mega_posts .suppa_mega_posts_cat_selected .suppa_mega_posts_arrow span{
					color:#ffffff !important;
				}



				/** ----------------------------------------------------------------
				 ******** Submenu Mega Links Style
				 ---------------------------------------------------------------- **/	
				.suppa_column {
					margin-left:12px !important;
					margin-bottom:12px !important;
				}

				/* Column Title */
				.suppa_column_title {
					font-size:14 !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;
					color:#c9c9c9;
					border-bottom-color:#1d3c4d;
					padding: 10px 0px 10px 0px;
				}
					.suppa_column_title .suppa_item_title {
						font-size:14 !important;
						font-family:'Lato', sans-serif !important;
						font-style:normal;
						color:#c9c9c9;
					}

				.suppa_column_title:hover {
					padding-left : 10px !important;
					color:#ffffff !important;
				}		
					.suppa_column_title:hover .suppa_item_title {
						color:#ffffff !important;
					}

				/* Column Links */
				.suppa_column_link{
					font-size:14px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;
					color:#c9c9c9;
					padding-right:5px;
					padding-left: 5px ;
					padding-top: 10px ;
					padding-bottom: 10px ;
				}
					.suppa_column_link .suppa_item_title {
						font-size:14px !important;
						font-family:'Lato', sans-serif !important;
						font-style:normal;
						color:#c9c9c9;
					}

				.suppa_column_link:nth-child(2) {
					margin-top:10px !important;
				}

				.suppa_column_link:hover {
					color:#ffffff !important;
					padding-left : 15px !important;
				}
					.suppa_column_link:hover .suppa_item_title {
						color:#ffffff !important;
					}

				/** ----------------------------------------------------------------
				 ******** Description Style
				 ---------------------------------------------------------------- **/	
				.suppa_submenu_columns_wrap .suppa_item_desc{
					font-size:12px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;

					padding-top:5px !important;			
				}
				.suppa_column_title:hover .suppa_item_desc,
				.suppa_column_link:hover .suppa_item_desc {
					color:#ffffff;;
				}

				/** ----------------------------------------------------------------
				 ******** Submenu Mega Links Title Icons Style
				 ---------------------------------------------------------------- **/	
				/* Title Icon */
				.suppa_column_title .ctf_suppa_fa_box {
					color:#c9c9c9;
				}
				.suppa_column_title:hover .ctf_suppa_fa_box {
					color:#ffffff !important;
				}

				/* Link Icon */
				.suppa_column_link .ctf_suppa_fa_box {
					color:#c9c9c9;
				}
				.suppa_column_link:hover .ctf_suppa_fa_box {
					color:#ffffff !important;
				}

				/** F.Awesome Icons **/
				.suppa_column_title .suppa_FA_icon {
					font-size:13px !important;
					margin-top: 2px !important;
					padding-right: 10px !important;
				}

				/** Uploaded Icons **/
				.suppa_column_title .suppa_UP_icon {
					width : 13px !important; 
					height : 13px !important; 
					margin-top: 2px !important;
					padding-right: 10px !important;
				}

				/** ----------------------------------------------------------------
				 ******** Submenu Mega Links Links Icons Style
				 ---------------------------------------------------------------- **/	
				/** F.Awesome Icons **/
				.suppa_column_link .suppa_FA_icon {
					font-size:15px !important;
					padding-top: 1px !important;
					padding-right: 10px !important;
				}

				/** Uploaded Icons **/
				.suppa_column_link .suppa_UP_icon {
					width : 15px !important; 
					height : 15px !important; 
					padding-top: 1px !important;
					padding-right: 10px !important;
				}

				/** ----------------------------------------------------------------
				 ********  Submenu Mega Links Current Link Style
				 ---------------------------------------------------------------- **/				
				.suppa_menu .suppa_submenu_columns_wrap .current-menu-item,
				.suppa_menu .suppa_submenu_columns_wrap .current-menu-item .ctf_suppa_fa_box,
				.suppa_menu .suppa_submenu_columns_wrap .current-menu-item .suppa_item_title{
					color:#2f2f2f !important;
				}

				.suppa_menu .suppa_submenu_columns_wrap .current-menu-item {
					background-color:5D5E5C;
				}

				.suppa_menu .suppa_submenu_columns_wrap .current-menu-item .era_suppa_arrow_box span{
					color:#f5f5f5;
				}



				/** ----------------------------------------------------------------
				 ******** Submenu DropDown Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_dropdown > .suppa_submenu a {
					font-size:12px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;
					border-bottom:1px solid #193345;
					padding: 10px 15px 10px 15px;
				}
					.suppa_menu_dropdown > .suppa_submenu a .suppa_item_title{
						font-size:12px !important;
						font-family:'Lato', sans-serif !important;
						font-style:normal;
						color:#c9c9c9;					
					}

				.suppa_menu_dropdown > .suppa_submenu div:hover > a ,
				.suppa_menu_dropdown > .suppa_submenu a:hover {
					color:#ffffff;
					background-color:#0b1b26;
					padding-left : 20px;
				}
					.suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_title,
					.suppa_menu_dropdown > .suppa_submenu a:hover .suppa_item_title{
						color:#ffffff;
					}

				/** Needed for suppa_frontend.js **/
				.suppa_menu_class_dropdown_levels_hover > a {
					color:#ffffff !important;
					background-color:#0b1b26 !important;
				}
				.suppa_menu_class_dropdown_levels_hover > a .suppa_item_title{
					color:#ffffff !important;
				}
				
				/** ----------------------------------------------------------------
				 ******** Description Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_dropdown > .suppa_submenu .suppa_item_desc{
					font-size:12px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;

					padding-top:5px !important;			
				}
				.suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_desc{
					color:#ffffff;;
				}

				/** ----------------------------------------------------------------
				 ******** Submenu DropDown Icons Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_dropdown > .suppa_submenu a .suppa_FA_icon{
					color:#c9c9c9;					

				}

				.suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_FA_icon,
				.suppa_menu_dropdown > .suppa_submenu a:hover .suppa_FA_icon{
					color:#ffffff;
				}

				/** Needed for suppa_frontend.js **/
				.suppa_menu_class_dropdown_levels_hover > a .ctf_suppa_fa_box{
					color:#ffffff !important;
				}

				/** F.Awesome Icons **/
				.suppa_menu_dropdown .suppa_submenu .suppa_FA_icon {
					font-size:14px !important;
					margin-top: 0px !important;
					padding-right: 10px !important;
				}

				/** Uploaded Icons **/
				.suppa_menu_dropdown .suppa_submenu .suppa_UP_icon {
					width : 14px !important; 
					height : 14px !important; 
					margin-top: 0px !important;
					padding-right: 10px !important;
				}


				/** ----------------------------------------------------------------
				 ******** Submenu DropDown Arrow Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box {
					top:9px !important;
					right:10px !important;
				}
				.suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box span {
					font-size:14px !important;
					/* color/bg/border */
					color:#c9c9c9;
				}
				.suppa_menu_dropdown div:hover > a .era_suppa_arrow_box span {
					color:#ffffff !important;
				}

				/** Needed for suppa_frontend.js **/
				.suppa_menu_class_dropdown_levels_hover > a .era_suppa_arrow_box span{
					color:#ffffff !important;
				}

				/** ----------------------------------------------------------------
				 ******** Current Top Level Style
				 ---------------------------------------------------------------- **/				
				.suppa_menu_dropdown > .suppa_submenu a.current-menu-item .suppa_item_title ,
				.suppa_menu_dropdown > .suppa_submenu a.current-menu-item .ctf_suppa_fa_box,
				.suppa_menu_dropdown > .suppa_submenu a.current-menu-item .suppa_item_title{
					color:#2f2f2f ;
				}

				.suppa_menu_dropdown .current-menu-item {
					background-color:5D5E5C;
				}

				.suppa_menu_dropdown > .suppa_submenu a.current-menu-item .era_suppa_arrow_box span{
					color:#f5f5f5;
				}




				/** ----------------------------------------------------------------
				 ******** Search Form Style
				 ---------------------------------------------------------------- **/	
				.suppa_rwd_menu_search {
					background-color:#ffffff !important;
				}
				.suppa_menu_search .suppa_search_form{
					margin-top:13px ;
					margin-left:10px ;
					margin-right:10px ;

				}

				.suppa_menu_search .suppa_search_form .suppa_search_input,
				.suppa_rwd_menu_search .suppa_search_form .suppa_search_input{
						width:150px;
						height:26px;
						line-height:26px !important;

						font-size:12px;
						font-family:'Lato', sans-serif !important;
						font-style:normal;

						padding-right:5px !important;
						padding-left:5px !important;

						/* color/bg/border */
						background-color:#ffffff !important;
						color:#06456e !important;

						-moz-border-radius: 4px 4px 4px 4px;
						-webkit-border-radius: 4px 4px 4px 4px;
						border-radius: 4px 4px 4px 4px;
			
						/* Prevent background color leak outs */
						-webkit-background-clip: padding-box; 
						-moz-background-clip:    padding; 
						background-clip:         padding-box;
				
				}

				.suppa_search_input::-webkit-input-placeholder {
				   color:#06456e !important;
				}

				.suppa_search_input:-moz-placeholder { /* Firefox 18- */
				   color:#06456e !important; 
				}

				.suppa_search_input::-moz-placeholder {  /* Firefox 19+ */
				   color:#06456e !important; 
				}

				.suppa_search_input:-ms-input-placeholder {  
				   color:#06456e !important; 
				}

				.suppa_menu_search .suppa_search_form button ,
				.suppa_rwd_menu_search .suppa_search_form button{
					height:26px !important;
					line-height:26px !important;

					background-color:transparent;
					padding-right:10px;
					padding-left:10px;

					/* CSS3 Border Radius */
					-webkit-border-radius: 0px 4px 4px 0px; 
					-moz-border-radius: 0px 4px 4px 0px; 
					border-radius: 0px 4px 4px 0px; 

					/* Prevent background color leak outs */
					-webkit-background-clip: padding-box; 
					-moz-background-clip:    padding; 
					background-clip:         padding-box;
				
				}
				.suppa_menu_search .suppa_search_icon,
				.suppa_rwd_menu_search .suppa_search_icon{
					font-size : 14px;
					color: #06456e;
				}

				.suppa_menu_search .suppa_search_form_big {
					z-index : 100000000049 !important; 
				}
				.suppa_menu_search .suppa_search_form_big,
				.suppa_menu_search .suppa_search_form_big input{
					width:100% !important;
				}

				.suppa_menu_search .suppa_search_form_big,
				.suppa_menu_search .suppa_search_form_big input{
					height:50px !important;
				}

				.suppa_menu_search .suppa_search_form_big input,
				.suppa_search_form_big .suppa_search_icon_remove{
					font-size:18px !important;
				}

				.suppa_search_form_big .suppa_search_icon_remove {
					color:#06456e !important;
					height:50px !important;
					line-height:50px !important;
				}



				/** ----------------------------------------------------------------
				 ******** Social Links Style
				 ---------------------------------------------------------------- **/	
				.suppa_menu_social a.suppa_top_level_link{
				 	padding-left:4px !important;
					padding-right:4px !important;
				}
				
				/** ----------------------------------------------------------------
				 ******** Social Links Icons Style
				 ---------------------------------------------------------------- **/	
				/** F.Awesome Icons **/
				.suppa_menu_social .suppa_top_level_link .suppa_FA_icon_only {
					font-size:16px !important;
					padding-top: 0px !important;
					padding-right: 0px !important;
				}

				/** Uploaded Only Icons **/
				.suppa_menu_social .suppa_top_level_link .suppa_UP_icon_only {
					width : 16px !important; 
					height : 16px !important; 
					padding-top: 0px !important;
					padding-right: 0px !important;
				}




				/** ----------------------------------------------------------------
				 ******** Responsive Web Design Style
				 ---------------------------------------------------------------- **/	

				.suppa_rwd_top_button_container{
					height:50px !important;
					background-color:transparent;
					
					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, transparent, transparent) ;
					background-image: -moz-linear-gradient(top, transparent, transparent) ;
					background-image: -o-linear-gradient(top, transparent, transparent) ;
					background-image: -ms-linear-gradient(top, transparent, transparent) ;
					background-image: linear-gradient(top, transparent, transparent) ;	
				
					

					/* Borders */
					border-top: 0px solid transparent;
					border-right: 0px solid transparent;
					border-bottom: 0px solid transparent;
					border-left: 0px solid transparent;
				}

				.suppa_rwd_menus_container {
					/* color/bg/border */
					background-color:#0e2638;
									
					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, transparent, transparent) ;
					background-image: -moz-linear-gradient(top, transparent, transparent) ;
					background-image: -o-linear-gradient(top, transparent, transparent) ;
					background-image: -ms-linear-gradient(top, transparent, transparent) ;
					background-image: linear-gradient(top, transparent, transparent) ;
				}


				/* Top Button & Text */
				.suppa_rwd_button,
				.suppa_rwd_text {
					line-height:50px !important;
				}
				.suppa_rwd_button {
					padding-right:20px !important;
					padding-left:20px !important;
					line-height:50px !important;
				}
				.suppa_rwd_button,
				.suppa_rwd_button span{
					font-size:20px !important;
					color:#ffffff !important;
				}
				.suppa_rwd_text{
					font-size:14px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;
					color :#ffffff !important;
					
					padding: 0px 20px !important;
					line-height:50px !important;
				}


				/* Submenu for latest posts, mega links, mega posts, html */
				.suppa_mega_posts_allposts_posts,
				.suppa_rwd_submenu_posts,
				.suppa_rwd_submenu_html,
				.suppa_rwd_submenu_columns_wrap {
					background-color:#0e2638;
					border-bottom: 0px solid #111111;

					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, transparent, transparent) ;
					background-image: -moz-linear-gradient(top, transparent, transparent) ;
					background-image: -o-linear-gradient(top, transparent, transparent) ;
					background-image: -ms-linear-gradient(top, transparent, transparent) ;
					background-image: linear-gradient(top, transparent, transparent) ;

					

					/* Padding */
					padding-top:10px !important;
					padding-bottom:10px !important;
					padding-right:0px !important;
					padding-left:10px !important;

					/* CSS3 Box Shadow */
					-moz-box-shadow   : 0px 0px 2px 1px rgba( 100,100,100,0.2);
					-webkit-box-shadow: 0px 0px 2px 1px rgba( 100,100,100,0.2);
					box-shadow        : 0px 0px 2px 1px rgba( 100,100,100,0.2);
				}


				/* Main Links */
				.suppa_rwd_menu > a,
				.suppa_rwd_submenu_mega_posts > a,
				.suppa_rwd_submenu > .suppa_dropdown_item_container > a {
					font-size:14px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;
					color :#c9c9c9;

					height:35px !important;
					line-height:35px !important;
					border-bottom:1px solid transparent !important;
					background-color:#FFF;
				}
				.suppa_rwd_menu > a .suppa_item_title,
				.suppa_rwd_submenu_mega_posts > a .suppa_item_title,
				.suppa_rwd_submenu > .suppa_dropdown_item_container > a .suppa_item_title{
					font-size:14px !important;
					font-family:'Lato', sans-serif !important;
					font-style:normal;
					color :#c9c9c9;
				}

				.era_rwd_suppa_link_both_open,
				.suppa_rwd_menu:hover > a,
				.suppa_rwd_submenu_mega_posts > a:hover,
				.suppa_rwd_menu .suppa_dropdown_item_container a:hover {
					color :#ff9100  !important;
					background-color :#FFF !important;
				}
				.era_rwd_suppa_link_both_open .suppa_item_title,
				.suppa_rwd_menu:hover > a .suppa_item_title,
				.suppa_rwd_submenu_mega_posts > a:hover .suppa_item_title,
				.suppa_rwd_menu .suppa_dropdown_item_container a:hover .suppa_item_title{
					color :#ff9100  !important;			
				}
				.suppa_rwd_menus_container{
					border-top:1px solid transparent !important;
				}

				.suppa_rwd_menu > a{
					padding-left:20px !important;
				}
				.suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
					padding-left:36px !important;
				}
				.suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
					padding-left:56px !important;
				}
				.suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
					padding-left:76px !important;
				}

				/* Main Links Arrows */
				.suppa_rwd_menu > a .era_rwd_suppa_arrow_box {
					font-size:14px !important;
						
					/* color/bg/border */
					color:#c9c9c9;
				}
				.suppa_rwd_menu:hover > a .era_rwd_suppa_arrow_box {
					color:#c9c9c9 !important;
				}
				.era_rwd_suppa_arrow_both_open{
					color :#c9c9c9 !important;
					background-color:#FFF !important;
				}
				.era_rwd_suppa_link_both_open{
					color :#ff9100  !important;
					background-color :#FFF !important;
				}


				/* Logo */
				.suppa_rwd_logo{
					height:50px;
				}
				.suppa_rwd_logo img{
					padding : 0px 0px 0px 0px !important;
				}


				/* Search Form */
				.suppa_rwd_menu_search{
					border-bottom:1px solid transparent !important;
				}
				.suppa_rwd_menu_search form {
					padding-top:10px !important;
					padding-bottom:10px !important;
					padding-right:0px !important;
					padding-left:10px !important;
				}	
				.suppa_rwd_menu_search form input[type="text"]{
					color:#06456e !important;
				}


				/* Mega Posts */
				.suppa_rwd_submenu_mega_posts > a {
					padding-left:40px !important;
				}


				/** ----------------------------------------------------------------
				 ******** RWD Icons Style
				 ---------------------------------------------------------------- **/	
				.suppa_rwd_menu > a .ctf_suppa_fa_box,
				.suppa_rwd_menu .suppa_dropdown_item_container .ctf_suppa_fa_box{
					color :#c9c9c9;

				}
				.era_rwd_suppa_link_both_open .ctf_suppa_fa_box,
				.suppa_rwd_menu:hover > a .ctf_suppa_fa_box,
				.suppa_rwd_menu .suppa_dropdown_item_container a:hover .ctf_suppa_fa_box {
					color :#ff9100  !important;
				}


				/** F.Awesome Icons **/
				.suppa_rwd_menu > a .suppa_FA_icon,
				.suppa_rwd_menu .suppa_dropdown_item_container .suppa_FA_icon
				 {
					font-size:15px !important;
					padding-top: 10px !important;
					padding-right: 10px !important;
				}

				/** Uploaded Icons **/
				.suppa_rwd_menu > a .suppa_UP_icon,
				.suppa_rwd_menu .suppa_dropdown_item_container a .suppa_UP_icon
				 {
					width : 14px !important; 
					height : 14px !important; 
					padding-top: 10px !important;
					padding-right: 10px !important;
				}

.suppaMenu_wrap.suppaMenu_wrap_wide_layout { float:right; width: 73%; margin-top: 5px; padding-top: 5px; }
.suppa_menu { height:68px !important;}
.suppa_top_level_link .suppa_item_title { font-family: 'Helvetica', Arial, sans-serif !important; padding-top:0 !important; }
.suppaMenu { width: auto !important; float: right;  height: 42px !important; }
.suppaMenu .row { margin: 0; }
.container.container_relative { padding:0; }
.container.container_relative.container_social {padding:0px;}
.suppa_menu .suppa_top_level_link .ctf_suppa_fa_box_top_arrow{display: none !important;}

.suppa_menu .suppa_top_level_link.suppa_menu_position_left{ padding: 0 20px 0 0 !important;}

.suppa_menu_1 .suppa_top_level_link.suppa_menu_position_left{background:none !important;}

.suppa_menu .suppa_top_level_link.suppa_menu_position_left{border:none transparent; z-index: 1;  border-bottom:none !important; border-radius: 10px 10px 0 0;}
.suppa_menu:hover .suppa_top_level_link.suppa_menu_position_left {border: none !important; border-bottom: none !important;}

.suppa_submenu{-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border: none !important; border-bottom: 3px solid #f67107 !important; border-radius: 0 10px 10px 10px; top:68px !important;}

.menu-video-img { padding: 20px 0 0 10px; border-left:none !important; text-align: center; width: 100%; float:left; }
.menu-video-img a { width:100%; float:left; margin-bottom: 10px; }
.menu-video-img a img { max-width: 245px; }
.menu-video-img p { width:100%; float:left; margin:0px 0px 30px 0px; }

#menu-main-menu-in-top li{display: none;}

.suppa_menu .suppa_top_level_link.current-menu-item, .suppa_menu .suppa_top_level_link.current-menu-ancestor
{
background:none;
}
.suppa_menu:hover .suppa_top_level_link{ background-color: #f67107 !important;}
.suppa_menu:hover .suppa_top_level_link.suppa_menu_position_left {
background: #fff !important;
height:55px !important;
}

.suppa_menu:hover .suppa_top_level_link.suppa_menu_position_left .suppa_item_title{
color: #F67107 !important;
}

.menu_mobile_button {margin: 20px 0 30px 20px !important;}

.menu_mobile a.anim { transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; }
.menu_mobile a {font-size: 15px; width:100%; float:left; line-height: 18px; margin: 0 0 10px 0; padding: 0 0 0 15px; }
.menu_mobile a i{ color: #f67107;}
.menu_mobile a.sub { padding: 0 0 0 30px; }
.menu-right iframe{border: none; margin:0 0 0 0;}

.suppa_top_level_link .suppa_item_title {color: #000000 !important; padding-top: 0px !important;}

/*.suppa_top_level_link .suppa_item_title{padding-top: 12px !important;}*/

#menu-main-menu-in-top li
{
line-height: 44px;
list-style: none;
float: left;
margin: 0 0 0 10px;
}

/*search btn*/
#menu-main-menu-in-top li {display: block !important;}

.suppa_submenu{border: none;}
/*.suppaMenu{width: 680px !important; background: #d2cdcd; border: none;}*/
.suppaMenu {
 
/* background: #d2cdcd; */
 border: none; 
}
/*search btn*/
.span3.w240.menu-link {display: inline-block; float: left; /*width: 33%;*/ margin: 0;}
.menu-right {display: inline-block; float: left; width: 67%;}
.menu-right .span3.w240 {padding: 0 0 0 8px; margin: 0 0 0 0; width: 214px;}

.span3.w240.menu-link .menu_mobile h6 {font-size: 18px; line-height: 3px; color: #ff7302; font-weight: bold;}

.menu_mobile span.header-link {color: #ff7302; font-weight: bold; width:100%; float:left; }

.menu_mobile a.sub-link {padding-left:30px;}

.menu-bot .menu-img .menu_award { float: left; margin: 0 5px; max-width: 20%;}

.menu-img {display: inline-block; float: left; width: 92%; margin: 0 0 0 6%;}


.menu-bot {background: #f1f1f1; display: inline-block; width: 100%; text-align: right; border-top: 1px solid #cecece; float: left;}

.menu_mobile_button .btn-simple{margin:0; width:100%; float:left; text-align: center; }


.menu-bot .menu_mobile_button { margin:0 !important; padding: 20px 15px !important; width:100%; float:left; border-left:1px solid #ccc; min-height:80px; }
.menu-bot .btn-large{padding: 10px !important;font-size: 12px !important; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }

.menu-right{width: auto !important;text-align:center}
.span3.w240.menu-link{width: auto !important;}

@media screen and (min-width:960px) and (max-width: 1136px)  {
.suppa_menu .suppa_top_level_link.suppa_menu_position_left{ padding: 0 13px 0 0 !important; }
}


@media screen and (max-width: 980px) {
.suppaMenu_rwd_wrap .suppa_rwd_menus_container{width: 100% !important;}
.suppaMenu_wrap.suppaMenu_wrap_wide_layout{width: auto !important; }
.suppaMenu_rwd_wrap .suppa_rwd_text{display: none;}
.suppaMenu_wrap_wide_layout, .suppa_rwd_top_button_container{background: none !important;}
header .navbar .btn-navbar{display: none;}
.suppa_rwd_button span{color: #666 !important;}
.suppaMenu_wrap.suppaMenu_wrap_wide_layout{margin:5px 0 0 0; }
.suppaMenu_rwd_wrap .suppa_rwd_top_button_container{width: 50px; float: right;}
.suppa_rwd_menus_container li{display: block; float: left; list-style: none; margin: 8px 22px;}


}

.suppaMenu {background:#ffffff !important;}
.suppa_menu.suppa_menu_html.suppa_menu_5 .suppa_submenu.suppa_submenu_html {
margin-left: -380px !important;
}

b.btext {font-size: 14px;display: table-cell;vertical-align: middle;}
.menu-right .span3.w240{padding: 0 0 0 15px; margin: 20px 0 0 0;}

.menu-video-img.last-img-video {margin: 10px 0 0; border-top: 1px solid #ccc;}
  
.left-con-menu {display:table; height:80px; min-height: 80px !important;}
.menu-bot{border-radius: 0 0 6px 6px;}

.suppa_menu_4 .suppa_submenu, .suppa_menu_5 .suppa_submenu, .suppa_menu_6 .suppa_submenu, .suppa_menu_7 .suppa_submenu{border-radius: 0px !important;}


@media screen and (max-width: 1024px) {
.suppa_rwd_text { background:#fff; color:#666 !important;}
.suppa_rwd_button span { color:#666 !important;}
.suppaMenu_rwd_wrap .suppa_rwd_menus_container { background:#fff; list-style:none; color:#666 !important;}
.suppa_rwd_top_button_container { background:#fff; list-style:none; color:#666 !important;}
.suppaMenu_rwd_wrap .suppa_rwd_menu > .suppa_rwd_submenu { background:#fff; padding:0 !important; }


}

@media screen and (max-width: 768px) {
.navbar .btn, .navbar .btn-group { margin-top:0px;}
.menu-video-img a.fancybox.btn { padding:0px;}
.search-bar-btn { padding:0px; height:25px; line-height:25px;}
.suppa_rwd_submenu .menu-right{display:none;}
.suppa_rwd_submenu .menu_mobile{border-right:none; padding-bottom:0; margin:10px 20px;}
.suppa_rwd_submenu .menu-bot{display:none;}
.suppa_rwd_submenu .row{border-bottom:1px solid #CCC; margin: 0; }
.suppaMenu_rwd_wrap { width:auto !important; }
.suppaMenu_wrap.suppaMenu_wrap_wide_layout { width:auto !important; }
}

.suppa_top_level_link .suppa_item_title {font-size:14px !important;}

@media (min-width:960px) and (max-width:1100px){
header .navbar .brand { width:230px; }

}

@media (min-width: 960px) and (max-width: 1000px){
.suppa_top_level_link .suppa_item_title { font-size: 13px !important; }
}

@media (min-width: 768px) and (max-width: 1024px) {
.menu-bot .menu_mobile_button { padding: 20px 30px 20px 15px !important; }
}
@media (max-width: 480px){
header .navbar .brand { width:180px; margin-top: 15px; }
}