<footer>
            <div class="row">
                <div class="col-lg-12 footer">QMetry Automation Framework source code is made available under the <a href="https://opensource.org/licenses/gpl-3.0.html">GNU General Public License, version 3 (GPL-3.0)</a>.<br />
               &copy;{{ site.time | date: "%Y"  }} Infostretch Corporation. 
{% if page.last_updated %}<p>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last updated: {{ site.time | date: "%b %-d, %Y"  }} <br />
                </div>
            </div>
</footer>
