{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}


{% elsif page.sidebar == "qaf_latest-sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_latest-sidebar.entries %}
<script type="text/javascript">$("nav a[href='docs.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "qaf_2_1_13-sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_2_1_13-sidebar.entries %}
<script type="text/javascript">$("nav a[href='docs.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "qaf_2_1_12-sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_2_1_12-sidebar.entries %}
<script type="text/javascript">$("nav a[href='docs.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "qaf_2_1_11-sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_2_1_11-sidebar.entries %}
<script type="text/javascript">$("nav a[href='docs.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "qaf_2_1_10-sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_2_1_10-sidebar.entries %}
<script type="text/javascript">$("nav a[href='docs.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "qaf_2_1_9-sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_2_1_9-sidebar.entries %}
<script type="text/javascript">$("nav a[href='docs.html']").parent('li').addClass("active");</script>


{% elsif page.sidebar == "qaf_2_1_8-sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_2_1_8-sidebar.entries %}
<script type="text/javascript">$("nav a[href='docs.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "qaf_2_1_7b-sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_2_1_7b-sidebar.entries %}
<script type="text/javascript">$("nav a[href='docs.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "download_sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_latest-sidebar.entries %}
<script type="text/javascript">$("nav a[href='download.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "download_sidebar_2.1.7b" %}
{% assign sidebar = site.data.sidebars.qaf_2_1_7b-sidebar.entries %}
<script type="text/javascript">$("nav a[href='download.html']").parent('li').addClass("active");</script>


{% elsif page.sidebar == "sponsor_sidebar" %}
{% assign sidebar = site.data.sidebars.qaf_latest-sidebar.entries %}
<script type="text/javascript">$("nav a[href='sponsor.html']").parent('li').addClass("active");</script>

{% elsif page.sidebar == "troubleshoot_sidebar" %}
{% assign sidebar = site.data.sidebars.troubleshoot_sidebar.entries %}

{% elsif page.sidebar == "faq_sidebar" %}
{% assign sidebar = site.data.sidebars.faq_sidebar.entries %}
<script type="text/javascript">$("nav a[href='faq.html']").parent('li').addClass("active");</script>
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "mydoc" %}
{% assign sidebar_pdf = site.data.sidebars.mydoc_sidebar.entries %}
{% endif %}

{% if site.product == "product1" %}
{% assign sidebar_pdf = site.data.sidebars.product1_sidebar.entries %}
{% endif %}

{% if site.product == "product2" %}
{% assign sidebar_pdf = site.data.sidebars.product2_sidebar.entries %}
{% endif %}
