.get_result_slider .slide { width:33%; display:inline-block; }
.gets-tabs .tab-content > .active { margin:20px 0; }
.get_result_slider a.cust-more-btn { margin:0 !important; }

.cust_saying_slider .slide { width:50%; float:left; margin: 0 0 30px 0; }
.cust_sayings .testimonial { font-size: 22px; }

.moresuccess .slide { width:33%; display: inline-block; }
.marketleaders .slide { width:33%; display: inline-block; }
.mobi_init .slide { width:33%; display: inline-block; }

.bxslider2 { text-align: center; }
.bxslider2 li { width: 20% !important; display: inline-block; list-style: none; padding: 20px 10px; margin: 0 !important; }

.qmetry_7 .slide { width:33%; display: inline-block; padding: 0 50px; vertical-align: top; }
.qmetry_7 .testimonial { width:100%; font-size: 20px; margin: 0 0 20px 0; padding: 0; }
.qmetry_7 ._cite { width: 100%; text-align: center; }
.qmetry_7 ._cite-content { text-align: center; }

.cust_slider_cont .tslider .slide { display: none; }
.cust_slider_cont .tslider .slide:first-child { display: block; }

.events-tabs .slide { width:33%; float:left; }

.testi_slider .tslider .slide { display: none; }
.testi_slider .tslider .slide:first-child { display: block; }


















