
.lblog .box .desc .date.alignnone {
    margin: 5px 20px 20px 0;
}
ul.bxslider3 li img {
    margin: 0 auto;
    min-height: 90px;
    text-align: center;
}
.factory {
    margin-top: 40px;
    min-height: 120px;
}
.factory img {
    max-height: 100px;
}
.ul_headerlink {
    float: right;
    margin: 0;
}
.header_link {
    background: #fff none repeat scroll 0 0;
    color: #737a80;
    min-height: 32px;
    padding: 4px 10px 0;
    width: 100%;
}
.hentry .checkbox-wrap {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    margin: 10px 0;
    padding: 0 0 0 30px;
    text-align: left;
}
.hentry #sign_up {
    float: left;
    height: 60px;
    margin-top: 5px;
    width: 35px;
}
.hentry #sign_up_lable {
    display: inline-block;
    margin: 5px 0;
    padding-left: 25px;
    width: 82%;
}
.hentry input[type="text"] {
    border: 1px solid #939598;
    border-radius: 5px;
    margin: 5px 0;
    width: 92%;
}
.hentry #download-form-submit {
    background: #fff none repeat scroll 0 0;
    border: 2px solid;
    height: 40px;
    margin: 10px 0;
    text-align: center;
    width: 30% !important;
}
.hentry #download-form-submit:hover {
    background: #ee7203 none repeat scroll 0 0;
    color: #fff;
}
ul.mantras {
    color: #fff;
    font-size: 108%;
    list-style-type: none;
    margin: 10px 0 0;
    width: 100%;
}
.twebinars p {
    color: #666;
    text-align: justify;
}
a.aorange {
    color: #dd3f19;
}
.clientquote p {
    color: #666;
    margin-bottom: 10px;
    text-align: left;
}
.span33.contenthover {
    border: 1px solid #fff;
    border-radius: 50%;
}
header .navbar .brand {
    width: 245px;
}
li.tabs-selected {
    border-bottom: 2px solid #ee7203;
}
.events-single h2 {
    color: #999999;
    font-size: 250%;
    margin: 30px 0 15px;
}
.events-single .post-entry {
    color: #000;
    font-size: 115%;
}
.events-single .post-entry p {
    text-align: left !important;
}
.events-single .media-body img {
    margin: 30px 0 0;
}
.news-posts .post-entry p {
    margin: 0;
    padding: 0;
    text-align: left;
}
.news-posts .post-entry {
    margin-bottom: 15px;
}
.news-posts a {
    color: #dd3f19;
    margin: 0;
    padding: 0;
}
.news-posts .post-entry {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-align: left;
}
.news-posts h4 {
    font-size: 120%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.gap150 {
    height: 160px;
}
.news-single {
    text-align: center !important;
}
.news-single h2 {
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    margin: 30px 0 15px;
    text-align: center !important;
}
.news-single .post-entry {
    color: #000;
    font-size: 115%;
    text-align: center;
}
.news-single .post-entry p {
    color: #666;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}
.news-single .post-entry .img {
    margin: 10px 0 30px;
}
.news-single .media-body {
    float: left;
    width: 100%;
}
.news-single .post-entry ul {
    color: #666;
    float: left;
    list-style: inside none disc;
    margin: 0 0 20px 20px;
    padding: 0;
    text-align: left;
    width: 100%;
}
.news-single .post-entry ul li {
    float: left;
    line-height: 120%;
    margin: 0 0 10px;
    padding: 0;
    text-indent: -20px;
    width: 100%;
}
.news-single .wp-post-image {
    display: none;
}
.synved-social-button {
    text-decoration: none !important;
}
.single-news .gap150 {
    height: 110px;
}
.newsletters-single h2 {
    color: #999999;
    font-size: 250%;
    margin: 30px 0 15px;
}
.newsletters-single .post-entry {
    color: #000;
    font-size: 115%;
}
.newsletters-posts .post-entry p {
    margin: 0;
    padding: 0;
    text-align: left;
}
.newsletters-posts a {
    color: #dd3f19;
    margin: 0;
    padding: 0;
}
.newsletters-posts .post-entry {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-align: left;
}
.newsletters-posts h4 {
    font-size: 120%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.newsletters-single .media-body {
    float: left;
    width: 100%;
}
.newsletters-single .media-body h2 {
    color: #000;
    text-align: center;
}
.viewpdf {
    margin-top: 25px;
}
.viewpdf iframe {
    width: 100%;
}
.post-single {
    text-align: center;
}
.qmerty-btn2 {
    border-radius: 0;
}
.md_if_font.servicep p {
    text-align: justify;
}
p.vid-msg {
    color: #ff9100;
    font-size: 14px !important;
    margin: 10px 0;
}
p.vid-msg span {
    color: #000000;
    display: block;
    font-size: 14px !important;
    line-height: 22px;
    margin: 0;
}
.gap125 {
    height: 125px;
}
@media (max-width: 1024px) {
div#product_footerlink .ftr_newsletter strong {
    width: 76% !important;
}
.app_area_inner {
    width: 100% !important;
}
.services.inverse h3 {
    font-size: 16px;
}
}
div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
    width: 180px;
}
@media (max-width: 640px) {
.att .md_if_font p {
    min-height: 1px;
}
.sync .md_if_font p {
    min-height: 1px;
}
.att a#slider-button {
    display: block;
    margin: 15px auto 0 !important;
    width: 47%;
}
.sync a#slider-button {
    display: block;
    margin: 15px auto 0 !important;
    width: 47%;
}
.qmetry-integration a#slider-button {
    display: block;
    margin: 0 auto !important;
    width: 47%;
}
.gap125 {
    height: 25px;
}
.md_if_font.servicep p {
    width: 100%;
}
.span3m, .span33 {
    margin: 0 auto;
}
.contain_detail_2 {
    display: block;
    float: none;
    margin: 0 auto;
    width: 96%;
}
#footer_event.contain_detail_2 {
    float: none !important;
}
.span2 .ftr_newsletter {
    width: 100% !important;
}
span.wpcf7-form-control-wrap.mail input {
    margin-top: 10px;
}
.tabs-nav li {
    margin-right: 0;
    min-height: 95px;
    width: 90%;
}
}
.filters-set1 .row-fluid .span3 {
    width: 11% !important;
}
.videoborder {
    border: 2px solid #ccc !important;
}
.client-video-text span a {
    color: #f15d2a;
}
.error {
    color: red;
}
a.linkgreen {
    color: #457b00;
    display: block;
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
.aprilnews img {
    margin: 0 !important;
}
.casetitle {
    font-weight: bold;
    margin: 10px;
    text-align: center !important;
}
.ourcap ul li p {
    padding: 0;
    text-align: left;
}
.newsletters-posts .post-entry p {
    padding: 0;
    text-align: left;
}
.qas-minheight {
    min-height: 149px;
}
.newslatter1 .span6 {
    text-align: left;
}
p.featured-webinar {
    color: #666;
    text-align: justify;
}
.social-links a {
    color: #fff !important;
}
.social-links a:hover {
    color: #fff !important;
}
@media (min-width: 768px) and (max-width: 979px) {
.span3 {
    width: 295px;
}
.att .md_if_font {
    margin: 25% auto !important;
}
.sync .md_if_font {
    margin: 25% auto !important;
}
}
@media (max-width: 768px) {
.black_mobile1 {
    line-height: 35px !important;
    white-space: normal !important;
}
.black_mobile1 .m11 {
    line-height: 35px !important;
}
.small_header {
    padding: 15px 0 !important;
}
.small_header h2 {
    text-align: center;
}
}
@media (max-width: 320px) {
.black_mobile1, .black_mobile3 {
    left: 20px !important;
}
}
.qas_ul ul {
    font-size: 115%;
}
.key_benifit p {
    font-size: 115%;
}
.qas_ul .factory {
    min-height: 185px;
}
.qas_ul img {
    max-width: 100%;
}
img.alignnone.size-full.wp-image-4790 {
    height: 90px;
    width: 160px;
}
img.alignnone.size-full.wp-image-4973 {
    height: 90px;
    width: auto;
}
img.alignnone.size-full.wp-image-4789, img.alignnone.size-full.wp-image-4787 {
    height: 90px;
    margin: 0 0 20px;
    width: auto;
}
.mobilematter-s1 .span4 {
}
.mobilematter-s2 p {
    min-height: 90px;
}
table.tbl-Agenda td {
    border: 1px solid #ccc;
    font-size: 115%;
    padding: 12px;
    vertical-align: middle;
}
td.td-time {
    background: #efefef none repeat scroll 0 0;
    font-size: 115%;
    font-weight: bold;
    width: 25%;
}
.td-1, .td-8 {
    background: #efefef none repeat scroll 0 0;
}
table.tbl-Agenda {
    border: 1px solid #ccc;
    text-align: center;
    width: 100%;
}
span.td-title a {
    font-weight: bold;
}
.mobilematter-update-s1 .span4 {
    text-align: center;
}
.socials img {
    margin: 20px 5px 0 0;
}
@media (max-width: 980px) {
.service-box.minwidth230 {
    max-width: 230px !important;
    min-width: 230px !important;
}
}
@media (max-width: 768px) {
.whychooseus-background .span6 {
    float: left;
    width: 100%;
}
.whychooseus-background .md_mobile_div {
    text-align: center !important;
}
.last_whyus {
    margin: 0;
    max-width: 100%;
}
.whychooseus-background .span6 .span6 {
    width: 94%;
}
.whychooseus-background .span6 .span6 .testing-blk {
    width: 70% !important;
}
}
@media (max-width: 640px) {
.backgrounded.fastFadeFromTop.mobile-testing-testingtype .span3 {
    width: 100%;
}
}
.honeypot {
    display: none !important;
}
.jobhead {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 5px;
    color: #dd3f19;
    display: block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 5px;
}
input#reloadbtn:hover {
    background: #ee7203 none repeat scroll 0 0;
    color: #fff;
}
input#reloadbtn {
    background: #fff none repeat scroll 0 0;
    border: 2px solid;
    float: left;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    width: 25% !important;
}
input#reloadbtn {
    background: #fff none repeat scroll 0 0;
    border: 2px solid;
    float: left;
    height: 30px;
    margin-left: 10px;
    text-align: center;
}
.accordion-body.in {
    border: 1px solid #ccc;
}
.ajax-loader {
    height: 16px;
    width: 16px;
}
div.wpcf7 img.ajax-loader {
    height: 16px !important;
    width: 16px !important;
}
input.cap {
    background: #ee7203 none repeat scroll 0 0;
    border: 0 none !important;
    border-radius: 0 !important;
    color: #fff;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 15px;
    letter-spacing: 2px;
    margin: 0 0 0 10px !important;
    width: 12% !important;
}
.accordion-heading a {
    color: #f37123 !important;
    font-weight: bold;
    letter-spacing: 1px;
}
.hiring-block {
    padding-bottom: 0 !important;
}
.mmgallery .bx-viewport {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0;
}
.backgrounded.fastFadeFromTop.mmgallery {
    padding-bottom: 0 !important;
}
.yellow {
    color: #faa224 !important;
}
.orange {
    color: #ee7203 !important;
}
.orange b {
    color: #ee7203;
}
.black {
    color: #000000 !important;
}
.mm-left {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 35%;
}
.mm-right {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin: 15px 0 0 10px;
    padding: 0;
    width: 62%;
}
.mm-right span {
    color: #ee7203;
    display: block;
    text-align: left;
}
.mm-right h3 {
    color: #ee7203;
    font-size: 25px;
    margin-bottom: 0;
    text-align: left;
}
.mm-right p {
    margin-bottom: 5px;
    padding-left: 0;
    text-align: left;
}
.mm-news p {
    font-size: 15px;
    padding-left: 0;
    text-align: left;
}
.mm-news a {
    color: #ee7203 !important;
    float: left;
    font-size: 115% !important;
    font-style: normal !important;
    font-weight: bold;
    text-transform: none !important;
}
.mm-news {
    padding: 25px 0 0;
}
.backgrounded.fastFadeFromTop.mm-main-text, .backgrounded.fastFadeFromTop.mm-speaks, .backgrounded.fastFadeFromTop.mm-featured, .backgrounded.fastFadeFromTop.mm-trends {
    padding-bottom: 0 !important;
}
.backgrounded.fastFadeFromTop.mm-trends p {
    color: rgb(0, 0, 0);
    padding-bottom: 0 !important;
}
.backgrounded.fastFadeFromTop.mm-trends p.text-center {
    text-align: center !important;
}
.backgrounded.fastFadeFromTop.mm-trends .text-left {
    text-align: left !important;
}
.backgrounded.fastFadeFromTop.mm-featured p {
    color: #000;
    margin: 0;
    padding: 0;
    text-align: left;
}
.backgrounded.fastFadeFromTop.mm-speaks .container .row, .backgrounded.fastFadeFromTop.mm-featured .container .row, .backgrounded.fastFadeFromTop.mm-trends .row {
    margin-left: 0;
}
.backgrounded.fastFadeFromTop.mm-trends p {
    margin: 0 0 14px;
    text-align: center;
}
.backgrounded.fastFadeFromTop.mm-trends h4 {
    min-height: 42px;
    text-transform: none;
}
.mm-trends a {
    display: block;
    float: left;
    text-align: center;
    width: 100%;
}
a.leader_more {
    color: #ee7203 !important;
    display: block;
}
.mobileforce-icon {
    float: left;
    text-align: center;
    width: 10%;
}
.mobileforce-icon-text {
    float: left;
    width: 90%;
}
.mobileforce-content h4 {
    margin-bottom: 5px;
    padding: 0;
}
.our-customers {
    border: 2px solid #666 !important;
    padding: 4%;
    width: 92%;
}
.mobileforce-page {
    clear: both;
    padding-top: 15px;
}
ul#mobileforce {
    list-style: outside none none;
}
ul#mobileforce li {
    list-style-image: url("../images/blue-bullet.png");
}
.quote {
    margin: 0;
    padding: 15px 0 0;
}
.quote .chat {
    margin: 0;
}
.quote .chat .con {
    color: #111;
    display: inline-block;
    float: left;
    height: auto;
    max-width: 589px;
    width: 100%;
}
.quote .chat .con img {
    display: block;
    float: right;
    margin-right: 20%;
    margin-top: -2px;
    padding: 0;
    position: relative;
    z-index: 111;
}
.quote .chat .con p {
    border: 2px solid #3eb1e7;
    border-radius: 48px;
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 35px 2% 35px 8%;
    width: 89%;
}
.quote .chat .con span {
    clear: both;
    display: block;
    float: right;
    font-size: 24px;
    margin-right: 20%;
    margin-top: 20px;
    text-align: center;
}
@media screen and (max-width: 560px) {
.quote .chat .con p {
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 25px;
    padding: 15px;
    width: 100%;
}
.quote .chat .con span {
    font-size: 18px;
    margin-right: 10%;
    margin-top: 15px;
}
.landing__right_form.hentry #reloadbtn {
    width: 53% !important;
}
}
@media (max-width: 768px) {
.landing__right_form {
    margin: 0 auto;
    width: 50% !important;
}
img.our-customers {
    display: block;
    float: none;
    margin: 0 auto;
    width: 50%;
}
}
.mobileforce_form {
    margin-top: 20px;
}
.allevents h2 {
    color: #ee7203;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.allevents h1 {
    font-size: 35px;
}
.event-image {
    float: left;
    padding-right: 10px;
}
.allevents p {
    color: #000;
}
.event-text {
    float: left;
}
.webinar-main, .events-main {
    display: inline-block;
    width: 100%;
}
@media (max-width: 768px) {
.event-text {
    float: left;
    width: 232px;
}
}
@media (max-width: 767px) {
.event-text {
    float: left;
    width: 232px;
}
.events-main {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 55%;
}
.allevents .span6 {
    text-align: center;
}
}
@media (max-width: 640px) {
.webinar-main {
    margin: 0 auto;
    text-align: left;
    width: 300px;
}
}
@media (max-width: 320px) {
.events-main {
    display: inline-flex;
    margin: 0 auto;
    width: 270px;
}
}
.mobile_devlopment_img .service-box {
    background-position: center bottom;
    background-size: contain;
    margin-bottom: 0 !important;
}
.two-blocks {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.two-blocks .row {
    display: inline-block;
    float: none;
    text-align: center;
    width: auto;
}
.telecom-page p {
    color: #666;
    margin-bottom: 30px;
    text-align: justify;
}
.telecom-page h4 {
    color: #ee7203;
    margin: 0;
    padding: 20px 0;
}
ul#telecomul {
    margin: 0 0 0 55px;
}
ul#telecomul li {
    padding-left: 15px;
}
iframe#contact_form {
    height: 500px !important;
}
@media (max-width: 979px) and (min-width: 768px) {
.span81 {
    width: 490px;
}
}
@media (max-width: 420px) {
.span81 {
    width: 100%;
}
iframe#contact_form {
    height: 670px !important;
}
#tabh1 p, #tabh2 p, #tabh3 p, #tabh4 p {
    text-align: center;
}
.black_mobile22 {
    left: 10px !important;
}
}
iframe#kony_form_iframe {
    border: 1px solid #000 !important;
    height: 685px;
}
iframe#atos_form_iframe {
    border: 1px solid #000 !important;
    height: 685px;
}
iframe#perfecto_form_iframe {
    border: 1px solid #000 !important;
    height: 685px;
}
@media screen and (max-width: 768px) {
iframe#kony_form_iframe {
    display: block;
    margin: 0 auto;
    width: auto !important;
}
}
i.icon-search {
    background-size: 12px auto;
    margin: 2px 0 0;
    padding: 0;
}
ul.ul_headerlink li:nth-child(2) {
    margin-left: 15px !important;
}
.suppa_menu_6 .suppa_submenu.suppa_submenu_html {
    border-radius: 10px 0 10px 10px;
}
p.left_image, p.right_image {
    text-align: right;
}
p.left_image img, p.right_image img {
    margin: 0;
}
@media (max-width: 767px) {
p.left_image, p.right_image {
    text-align: center;
}
}
.filters-set1 .span2 {
    margin: 0;
    text-align: center;
    width: 14.2857%;
}
.filters-set1 {
    background: #03517b none repeat scroll 0 0;
}
.filters-set1 .span2 a {
    color: #fff;
}
.filters-set1 {
    display: table !important;
    width: 100% !important;
}
.filters-set1 .catinfo {
    display: table-cell;
    float: none;
}
.filters-set1 .catinfo a {
    margin: 0 4px;
}
@media (max-width: 767px) {
.filters-set1 .span2 {
    width: 100%;
}
}
.row-fluid .author {
    text-transform: uppercase;
}
.filters-set1 {
    border: medium none;
    border-radius: 2px;
    padding: 15px 25px;
}
.textwidget ul {
    list-style: outside none none;
    margin-left: 0;
}
.textwidget ul li {
    border-bottom: 1px solid #e5e5e5;
    padding: 7px 0;
}
ul.contact-social-links {
    list-style-type: none;
    margin: 0;
}
ul.contact-social-links li {
    display: inline-block;
    float: none;
    margin: 0 4% 0 0;
    padding: 0;
    vertical-align: middle;
    width: 20%;
}
ul.contact-social-links li a {
    color: #6d6d6d;
    font-size: 40px;
    margin: 0;
}
ul.contact-social-links i {
    color: #6d6d6d;
    font-size: 50px;
}
.contact-box {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    float: left;
    width: 45%;
}
.contact-box .box_title {
    background: #249de8 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 25px;
    padding: 10px 15px;
}
.contact-box {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    float: left;
    height: 350px;
    margin-bottom: 60px;
    width: 45%;
}
.contact-box .box_title {
    background: #249de8 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 25px;
    padding: 12px 35px;
}
.contact-box.box-right {
    float: right;
}
.box_content {
    padding: 35px;
}
.box_content p {
    color: #333;
    float: left;
    font-size: 16px;
    width: 80%;
}
.contact_box_section h3 {
    color: #fff;
    margin: 60px 0;
    text-align: center;
}
.contact_small_img {
    float: left;
    margin: 0 10px 0 0;
    width: 34px;
}
.contact_box_content a {
    color: #249de8;
    text-transform: uppercase;
}
@media (max-width: 767px) {
.box_content {
    display: inline-block;
    padding: 20px 0 0 35px;
    width: 80%;
}
.contact-box {
    clear: both;
    display: block;
    float: none !important;
    height: auto;
    margin: 40px auto;
    width: 80%;
}
.contact-box .box_title {
    font-size: 19px;
}
ul.contact-social-links {
    max-width: 320px;
}
}
@media (max-width: 497px) {
iframe#contact_form {
    height: 670px !important;
}
.content iframe#contact_form {
    height: 700px !important;
}
}
.partner_resources {
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
}
.partner_resources .partner_resources_item {
    display: inline-block;
    width: 100%;
}
.partner_resources .partner_resources_item .resource_icon {
    display: inline-block;
    margin: 0 5px 0 0;
}
.partner_resources .partner_resources_item a {
    border-bottom: 1px solid #888;
    vertical-align: middle;
}
.cs-usbank {
    padding: 15px;
    vertical-align: bottom;
}
.cs-usbank .case_usbank {
    display: inline-block;
    vertical-align: bottom;
}
.cs-usbank .case_usbank h3 {
    background: #005179 none repeat scroll 0 0;
    color: #fff;
    font-size: 22px;
    margin: 0;
    padding: 10px 20px;
    text-align: left;
}
.cs-usbank .case_usbank ul {
    border: 1px solid #005179;
    list-style: outside none none;
    margin: 0 0 25px;
    padding: 20px;
}
.cs-usbank .case_usbank ul li {
    background: rgba(0, 0, 0, 0) url("../images/li-bg.png") no-repeat scroll 0 8px;
    color: #333;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0 0 0 13px;
}
@media (max-width: 360px) {
.partner_resources .partner_resources_item .resource_icon {
    display: inline-block;
    float: left;
    margin: 0 5px 0 0;
}
.partner_resources .partner_resources_item a {
    float: left;
    margin: 10px 0 0;
    width: 63%;
}
.cs-usbank {
    padding: 0;
}
.cs-usbank .case_usbank ul {
    padding: 10px;
}
.cs-usbank .case_usbank h3 {
    padding: 10px;
}
}
.cs-usbank h3 {
    text-align: center;
}
li.sub_rss a {
    background: rgba(0, 0, 0, 0) url("../images/icon-rss.gif") no-repeat scroll 0 50%;
    padding-left: 20px;
}
.page-template-page-blog_insights-php .post-entry p {
    font-size: 16px;
}
.textwidget a {
    font-size: 13px;
}
@media (max-width: 768px) {
.contact_new .span4 {
    margin: 0 auto 40px;
    max-width: 90%;
    width: 320px;
}
}
@media (max-width: 360px) {
.contact-box .box_title {
    text-align: center;
}
.box_content {
    float: none;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.box_content .contact_small_img {
    float: none;
    margin: 10px auto;
}
.box_content p {
    float: none;
    margin: 0 auto 20px;
}
}
.m11.partner_banner {
    color: #fff;
    font-size: 60% !important;
}
.m11.partner_banner_white {
    color: #fff;
}
.p_choose_icon {
    min-height: 52px;
    text-align: center;
}
.p_choose_icon img {
    width: auto;
}
.partner-whychooseus .why-title {
    font-size: 30px;
    text-align: center;
}
.partner-whychooseus .md_mobile_div {
    color: #666;
    font-size: 115%;
    text-align: justify;
}
.partner-whychooseus .row .span66 {
    width: 360px;
}
.partner_2 .span3 img {
    text-align: center;
    width: auto;
}
.partner_2 .span3 {
    text-align: center;
}
.partner_2 .learnmore {
    text-align: center;
}
.partner_2 .learnmore a {
    color: rgb(47, 64, 154);
    font-size: 16px;
    text-decoration: underline;
}
.blue_strip .span3 {
    display: block;
    padding: 0;
    text-align: center;
    width: 170px;
}
.blue_strip .span3 a {
    color: #fff;
    text-transform: uppercase;
}
.backgrounded.fastFadeFromTop.blue_strip {
    margin: 0;
    padding: 20px !important;
}
.info_des {
    padding: 0 20px;
    text-align: justify;
}
.partner_2 img {
    width: auto;
}
.partner_2 .span4 {
    text-align: center;
}
.partnerlogo {
    min-height: 100px;
}
iframe#partner_form {
    height: 740px !important;
}
.span34 {
    float: left !important;
    margin: 13px 74px 14px 4px !important;
    text-align: center;
    width: auto !important;
}
.grid-item.featured {
    min-height: 160px !important;
    min-width: 148px !important;
}
.isotope .isotope-item {
    margin-bottom: -10px !important;
    transition-property: transform, opacity;
}
.info_blog {
    margin-left: 6px !important;
    width: 224px !important;
}
.insigts_meta .author, .insigts_meta .pdate, .insigts_meta .ccount {
    text-transform: uppercase;
}
div#rss-link {
    display: inline-block;
    margin: 0;
    text-align: right;
    vertical-align: top;
}
div#rss-link img {
    margin: 0 10px 0 0;
}
.article_dropdown {
    margin-top: -50px;
    text-align: right;
}
.featuredarticles .isotope-item {
    position: relative;
}
.featuredarticles .social_icons {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
.featuredarticles h3.title a {
    color: #fff;
}
.featuredarticles h3.title:hover a {
    text-decoration: underline;
}
.featuredarticles .social_icons .social_links img {
    max-height: 25px;
    max-width: 25px;
}
.featuredarticles .social_icons .social_links {
    background: #eee none repeat scroll 0 0;
    padding: 10px;
    text-align: left;
}
.featuredarticles .social_icons h3.title {
    clear: both;
    margin: 15px 0;
    padding: 0 20px;
}
.featuredarticles .social_icons .social_links a {
    margin: 0 5px;
}
.featuredarticles .social_icons .social_links img.share_icon {
    float: right;
    max-height: 18px;
    max-width: 18px;
}
.featuredarticles .info_blog .social_icons .social_links .share_right {
    display: inline-block;
    float: right;
}
.featuredarticles .info_blog .social_icons .social_links .social_links_hover {
    display: none;
    width: 90px;
}
.featuredarticles .info_blog .social_icons .social_links:hover {
    width: 100%;
}
.featuredarticles .info_blog .social_icons .social_links:hover .social_links_hover {
    display: inline-block;
}
.featuredarticles .info_blog .social_icons .social_links {
    border-radius: 100px;
    box-sizing: border-box;
    clear: both;
    float: right;
    margin-right: 10px;
    position: relative;
}
.featuredarticles .info_blog .social_icons {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.featuredarticles .info_blog .social_icons h3.title {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}
.featuredarticles .info_blog .grid-item {
    min-height: 150px;
}
.featuredarticles .grid-item {
    min-height: 327px;
}
.row.nomar {
    margin: 0;
}
.articles-box-main {
    border: 1px solid #939598;
    box-shadow: 0 5px 0 #c5c5c6;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-bottom: 35px;
    margin-right: 2%;
    vertical-align: top;
    width: 32%;
}
.articles-box-main.last {
    margin-right: 0;
}
.articles-box-main .articles-top {
    height: 217px;
    overflow: hidden;
    position: relative;
}
.articles-box-main .articles-top .hover-text {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.articles-box-main .articles-top .hover-text a {
    background: #ee7203 none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    height: 22px;
    left: 50%;
    line-height: 22px;
    margin: -18px 0 0 -63px;
    padding: 6px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 124px;
}
.articles-box-main .articles-top .hover-text a:hover {
    border-color: transparent;
}
.articles-box-main .articles-top:hover .hover-text {
    opacity: 1;
}
.articles-box-main .articles-bot {
    border-bottom: 1px solid #dd3f19;
    margin-bottom: 10px;
    padding: 10px 20px 0;
}
.articles-box-main .articles-bot h4 {
    height: 42px;
    margin-bottom: 20px;
    text-align: center;
}
.articles-box-main .articles-bot span {
    color: #adadad;
    display: block;
    margin-bottom: 3px;
    text-align: center;
    text-transform: uppercase;
}
.articles-box-main .articles-top img {
    height: 100%;
    width: 100%;
}
.articles-box-main .articles-bot p {
    height: 175px;
}
.inside-evaluate-management h1 {
    color: #fff;
    font-size: 32px;
    text-align: center;
}
.inside-evaluate-management p a {
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}
.inside-evaluate-management p span {
    color: #fff;
    display: inherit;
    padding: 5px 0;
}
.inside-evaluate-management p.evaluate-content {
    margin: 0;
    padding-bottom: 40px;
    padding-left: 30px;
}
.inside-evaluate-management p.evaluate-content_first {
    padding-top: 50px;
}
.partnerlogo.partnertwo {
    float: right;
    width: 270px;
}
.learnmore a {
    color: rgb(47, 64, 154);
    font-size: 18px;
    text-decoration: underline;
}
@media (max-width: 980px) {
.featuredarticles .isotope-item.spantop, .featuredarticles .isotope-item.spanbottom {
    margin: 0;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    width: 100%;
}
.filterable-items.featuredarticles .row.isotope {
    height: auto !important;
}
.info_blog {
    margin: 1% !important;
    width: 23% !important;
}
.articles-box-main, .articles-box-main.last {
    margin-left: 1%;
    margin-right: 1%;
    width: 46%;
}
.blue_strip .span3 {
    width: 100%;
}
.centerimg .span3 {
    width: 166px;
}
}
@media (max-width: 768px) {
.filterable-items.featuredarticles {
    margin: 0 10px;
}
.info_blog {
    float: left;
    width: 48% !important;
}
.featuredarticles .info_blog .social_icons {
    width: 100%;
}
.filterable-items {
    margin: 0 10px;
}
.articles-box-main, .articles-box-main.last {
    width: auto;
}
.partnerlogo.partnertwo {
    float: none !important;
}
.centerimg .span3, .centerimg .span6 {
    text-align: center;
    width: 100%;
}
.partnerlogo.partnertwo {
    width: 100%;
}
}
@media (max-width: 480px) {
.info_blog {
    margin: 0 !important;
    width: 100% !important;
}
}
@media screen and (max-width: 560px) {
.article_dropdown {
    margin: 0;
    text-align: left;
}
}
.menu-bot .menu_mobile_button.btncenter {
    display: inline-block;
    float: left;
    margin-top: 20px;
    vertical-align: middle;
}
.partner_menu_link {
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.news-single .post-entry p {
    padding: 0 !important;
}
.catinfo {
    width: 12%;
}
.wearable-info p {
    color: #666;
    padding: 0;
    text-align: left;
}
.wearable-info p span, .wearable-info p a {
    color: #ee7203;
}
.left-text {
    clear: both;
    float: left;
}
.left-text p {
    margin: 0;
}
.right-text {
    float: right;
    width: 93%;
}
.right-text p {
    margin: 0;
    padding: 0;
}
.predict {
    display: block;
}
.wearable-info h3 {
    font-size: 50px;
    font-weight: 500;
    margin: 20px 0 30px 20px;
    text-align: left;
}
.wearable-info .span3 p {
    font-size: 20px;
    margin: 0 0 20px;
    padding: 0 15px;
    text-align: left;
}
.smart_car p {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    text-align: left !important;
}
.eco_system p {
    font-size: 22px;
    font-weight: bold;
    text-align: left !important;
}
.info_driving p {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    text-align: left !important;
}
@media (max-width: 980px) {
.featuredarticles .isotope-item.spantop, .featuredarticles .isotope-item.spanbottom {
    margin: 0;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    width: 100%;
}
.filterable-items.featuredarticles .row.isotope {
    height: auto !important;
}
.info_blog {
    margin: 1% !important;
    width: 23% !important;
}
.articles-box-main, .articles-box-main.last {
    margin-left: 1%;
    margin-right: 1%;
    width: 46%;
}
.blue_strip .span3 {
    width: 100%;
}
.centerimg .span3 {
    width: 166px;
}
.right-text {
    width: 90%;
}
}
@media (max-width: 768px) {
.filterable-items.featuredarticles {
    margin: 0 10px;
}
.info_blog {
    float: left;
    width: 48% !important;
}
.right-text {
    width: 86%;
}
.featuredarticles .info_blog .social_icons {
    width: 100%;
}
.filterable-items {
    margin: 0 10px;
}
.articles-box-main, .articles-box-main.last {
    width: auto;
}
.partnerlogo.partnertwo {
    float: none !important;
}
.centerimg .span3, .centerimg .span6 {
    text-align: center;
    width: 100%;
}
.partnerlogo.partnertwo {
    width: 100%;
}
.catinfo {
    width: 100%;
}
}
@media (max-width: 480px) {
.info_blog {
    margin: 0 !important;
    width: 100% !important;
}
.right-text {
    width: 80%;
}
}
@media screen and (max-width: 560px) {
.article_dropdown {
    margin: 0;
    text-align: left;
}
}
.media-body h2, .media-body .post-thumbnail {
    text-align: left;
}
.hentry {
}
.post-single {
    text-align: center;
}
.btn_download {
    margin-left: 50px;
}
@media (max-width: 980px) {
.featuredarticles .isotope-item.spantop, .featuredarticles .isotope-item.spanbottom {
    margin: 0;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    width: 100%;
}
.filterable-items.featuredarticles .row.isotope {
    height: auto !important;
}
.info_blog {
    margin: 1% !important;
    width: 23% !important;
}
.articles-box-main, .articles-box-main.last {
    margin-left: 1%;
    margin-right: 1%;
    width: 46%;
}
.centerimg .span3 {
    width: 166px;
}
}
@media (max-width: 768px) {
.filterable-items.featuredarticles {
    margin: 0 10px;
}
.info_blog {
    float: left;
    width: 48% !important;
}
.featuredarticles .info_blog .social_icons {
    width: 100%;
}
.filterable-items {
    margin: 0 10px;
}
.articles-box-main, .articles-box-main.last {
    width: auto;
}
.partnerlogo.partnertwo {
    float: none !important;
}
.centerimg .span3, .centerimg .span6 {
    text-align: center;
    width: 100%;
}
.partnerlogo.partnertwo {
    width: 100%;
}
.catinfo {
    width: 100%;
}
}
@media (max-width: 480px) {
.info_blog {
    margin: 0 !important;
    width: 100% !important;
}
}
@media screen and (max-width: 560px) {
.article_dropdown {
    margin: 0;
    text-align: left;
}
}
.newsletters-single p {
    color: #666;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
    text-align: left;
}
.newsletters-single h3 {
    font-size: 23px;
    font-weight: 400;
    margin: 20px 0;
    padding: 0;
    text-align: left;
}
.newsletters-single .backgrounded.fastFadeFromTop {
    border-bottom: 3px solid #cdcdcd;
    padding: 45px 0 !important;
}
a.nl-btn {
    border: 1px solid #095383;
    border-radius: 5px;
    color: #095383;
    display: inline-block;
    font-size: 16px !important;
    margin: 15px 0 0;
    padding: 5px 8px;
    text-align: left;
}
.newsletters-single .col-even {
    float: right;
}
.backgrounded.fastFadeFromTop.nl-march-5, .backgrounded.fastFadeFromTop.nl-june-6 {
    border: medium none;
    text-align: center;
}
.backgrounded.fastFadeFromTop.nl-march-5 .span3, .backgrounded.fastFadeFromTop.nl-june-6 .span4 {
    display: inline-block;
    float: none;
    text-align: center;
    vertical-align: top;
}
.backgrounded.fastFadeFromTop.nl-march-5 h3, .backgrounded.fastFadeFromTop.nl-june-6 h3 {
    font-size: 30px;
    margin: 0 0 100px;
    text-align: center;
}
.backgrounded.fastFadeFromTop.nl-march-5 h4, .backgrounded.fastFadeFromTop.nl-june-6 h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 30px;
}
.backgrounded.fastFadeFromTop.nl-march-5 p, .backgrounded.fastFadeFromTop.nl-june-6 p {
    color: #ee7203;
    font-weight: bold;
    margin: 25px 0 0;
    text-align: center;
}
.backgrounded.fastFadeFromTop.nl-march-5 p.text-booth {
    color: #666;
    margin: 0;
    padding: 0;
}
.backgrounded.fastFadeFromTop.nl-march-5 a.nl-btn, .backgrounded.fastFadeFromTop.nl-june-6 a.nl-btn {
    margin: 60px 0 0;
}
.backgrounded.fastFadeFromTop.nl-june-6 a.learn-link {
    color: #095383;
}
footer .bottom-tier {
    position: relative;
}
#cookie-popup-cont {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    left: 0;
    position: fixed;
    transition: all 1s ease 0s;
    width: 100%;
}
#cookie-popup-cont .container {
    position: relative;
}
.cookie-popup-text {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}
.cookie-popup-text p {
    background-image: url("../images/info.svg");
    background-position: left center;
    background-repeat: no-repeat;
    color: #333;
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 140%;
    margin: 0;
    padding: 15px 15px 15px 55px;
    text-align: left;
    width: 100%;
}
.cookie-popup-text a {
    color: #ee7203;
    text-decoration: underline;
}
.cookie-popup-button {
    display: inline-block;
    min-height: 60px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
a#cookie-close {
    background-color: #ee7203;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    left: 50%;
    line-height: 140%;
    min-width: 120px;
    padding: 8px 15px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
@media (max-width: 980px) {
.featuredarticles .isotope-item.spantop, .featuredarticles .isotope-item.spanbottom {
    margin: 0;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    width: 100%;
}
.filterable-items.featuredarticles .row.isotope {
    height: auto !important;
}
.info_blog {
    margin: 1% !important;
    width: 23% !important;
}
.articles-box-main, .articles-box-main.last {
    margin-left: 1%;
    margin-right: 1%;
    width: 46%;
}
.centerimg .span3 {
    width: 166px;
}
}
@media (max-width: 768px) {
.filterable-items.featuredarticles {
    margin: 0 10px;
}
.info_blog {
    float: left;
    width: 48% !important;
}
.featuredarticles .info_blog .social_icons {
    width: 100%;
}
.filterable-items {
    margin: 0 10px;
}
.articles-box-main, .articles-box-main.last {
    width: auto;
}
.partnerlogo.partnertwo {
    float: none !important;
}
.centerimg .span3, .centerimg .span6 {
    text-align: center;
    width: 100%;
}
.partnerlogo.partnertwo {
    width: 100%;
}
.catinfo {
    width: 100%;
}
}
@media (max-width: 767px) {
.newsletters-single .backgrounded.fastFadeFromTop {
    padding: 45px 10px;
}
.newsletters-single .col-even {
    float: none;
}
.newsletters-single .span4, .newsletters-single p, .newsletters-single h3, .newsletters-single .span8 {
    text-align: center;
}
}
@media (max-width: 480px) {
.info_blog {
    margin: 0 !important;
    width: 100% !important;
}
}
@media screen and (max-width: 560px) {
.article_dropdown {
    margin: 0;
    text-align: left;
}
}
.newsletters-single .nl-aug-2011 h2, .newsletters-single .nl-nov-2011 h2 {
    color: #000;
    font-weight: 400;
    margin: 0;
    text-align: left;
}
.nl-aug-2011, .nl-nov-2011-sub {
    font-size: 18px;
}
.nl-aug-2011 p {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 5px;
}
.newsletters-single .nl-nov-2011 p {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 5px;
    text-align: justify;
}
.newsletters-single .nl-nov-2011 p.hitting-ace {
    text-align: justify;
}
.newsletters-single .nl-nov-2011-sub p {
    text-align: left;
}
.nl-aug-2011 img, .nl-nov-2011 img {
    width: 100%;
}
.nl-aug-2011 a, .nl-nov-2011 a {
    color: #4fa5fc;
}
a.nl-aug-link {
    border-bottom: 1px solid #4fa5fc;
    font-size: 16px;
    font-weight: 600;
}
.nl-aug-2011 h3, .nl-nov-2011 h3 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px;
}
ul.aug-ul {
    list-style-type: none;
    margin: 0 0 10px;
}
ul.aug-ul li {
    line-height: 25px;
}
.thought_cont {
    margin-bottom: 20px;
}
a.link-title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}
.on-demand a.link-title {
    min-height: 75px;
}
ul.aug-ul li {
    color: #666;
    line-height: 25px;
}
.upcoming-events {
    display: inline-block;
    margin: 15px 0;
}
.upcoming-events h4 {
    color: #666;
    font-weight: 600;
    margin: 0;
}
.upcoming-events span {
    color: #4fa5fc;
    display: block;
    font-weight: 600;
    line-height: 15px;
    margin: 0;
    padding: 0;
}
a.nl-aug-watch-link {
    color: #666;
    display: inline-block;
    margin: 15px 0 0;
}
.nl-nov-2011 {
    font-size: 18px;
}
a.nl-nov-link {
    display: inline-block;
}
ul.latest-buzz-ul {
    color: #666;
    margin: 0 0 18px 50px;
}
ul.latest-buzz-ul li {
    padding-bottom: 5px;
}
ul.latest-buzz-ul li span {
    border-bottom: 1px solid #4fa5fc;
    color: #4fa5fc;
    display: inline-block;
}
p.buzz-title {
    font-weight: 600;
}
p.wdate {
    font-size: 18px;
    margin: 0;
}
a.nl-aug-link::after {
    border-color: transparent transparent transparent #4fa5fc;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    content: "";
    display: inline-block;
    margin: 8px 0 0 5px;
}
@media (max-width: 980px) {
.featuredarticles .isotope-item.spantop, .featuredarticles .isotope-item.spanbottom {
    margin: 0;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    width: 100%;
}
.filterable-items.featuredarticles .row.isotope {
    height: auto !important;
}
.info_blog {
    margin: 1% !important;
    width: 23% !important;
}
.articles-box-main, .articles-box-main.last {
    margin-left: 1%;
    margin-right: 1%;
    width: 46%;
}
.centerimg .span3 {
    width: 166px;
}
}
@media (max-width: 768px) {
.filterable-items.featuredarticles {
    margin: 0 10px;
}
.info_blog {
    float: left;
    width: 48% !important;
}
.featuredarticles .info_blog .social_icons {
    width: 100%;
}
.filterable-items {
    margin: 0 10px;
}
.articles-box-main, .articles-box-main.last {
    width: auto;
}
.partnerlogo.partnertwo {
    float: none !important;
}
.centerimg .span3, .centerimg .span6 {
    text-align: center;
    width: 100%;
}
.partnerlogo.partnertwo {
    width: 100%;
}
.catinfo {
    width: 100%;
}
}
@media (max-width: 767px) {
.newsletters-single .backgrounded.fastFadeFromTop {
    padding: 45px 10px;
}
.newsletters-single .col-even {
    float: none;
}
.newsletters-single .span4, .newsletters-single .post-entry p, .newsletters-single h3, .newsletters-single .span8 {
    text-align: center;
}
.nl-aug-2011, .nl-nov-2011-sub {
    text-align: center;
}
ul.aug-ul {
    text-align: left;
}
ul.latest-buzz-ul {
    margin: 0 0 18px 30px;
    text-align: left;
}
ul.latest-buzz-ul li span {
    border: medium none;
    display: block;
}
.nl-aug-2011, .nl-nov-2011-sub {
    width: 100%;
}
}
@media (max-width: 480px) {
.info_blog {
    margin: 0 !important;
    width: 100% !important;
}
.right-text {
    width: 80%;
}
.cookie-popup-text {
    max-width: 100%;
    padding: 10px;
    width: 100%;
}
.cookie-popup-text p {
    background-position: center top;
    max-width: 100%;
    padding: 55px 0 0 3px;
    text-align: center;
}
.cookie-popup-text a {
    color: #ee7203;
    text-decoration: underline;
}
a#cookie-close {
    display: block;
    float: none;
    margin: 0 auto 10px;
}
}
@media screen and (max-width: 560px) {
.article_dropdown {
    margin: 0;
    text-align: left;
}
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-sm-3, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.6667%;
}
.col-xs-10 {
    width: 83.3333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.6667%;
}
.col-xs-7 {
    width: 58.3333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.6667%;
}
.col-xs-4 {
    width: 33.3333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.6667%;
}
.col-xs-1 {
    width: 8.33333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.6667%;
}
.col-xs-pull-10 {
    right: 83.3333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.6667%;
}
.col-xs-pull-7 {
    right: 58.3333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.6667%;
}
.col-xs-pull-4 {
    right: 33.3333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.6667%;
}
.col-xs-pull-1 {
    right: 8.33333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.6667%;
}
.col-xs-push-10 {
    left: 83.3333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.6667%;
}
.col-xs-push-7 {
    left: 58.3333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.6667%;
}
.col-xs-push-4 {
    left: 33.3333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.6667%;
}
.col-xs-push-1 {
    left: 8.33333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.6667%;
}
.col-xs-offset-10 {
    margin-left: 83.3333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.6667%;
}
.col-xs-offset-7 {
    margin-left: 58.3333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.6667%;
}
.col-xs-offset-4 {
    margin-left: 33.3333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.6667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}
@media (min-width: 768px) {
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-sm-12 {
    width: 100%;
}
.col-sm-11 {
    width: 91.6667%;
}
.col-sm-10 {
    width: 83.3333%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-8 {
    width: 66.6667%;
}
.col-sm-7 {
    width: 58.3333%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-5 {
    width: 41.6667%;
}
.col-sm-4 {
    width: 33.3333%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-2 {
    width: 16.6667%;
}
.col-sm-1 {
    width: 8.33333%;
}
.col-sm-pull-12 {
    right: 100%;
}
.col-sm-pull-11 {
    right: 91.6667%;
}
.col-sm-pull-10 {
    right: 83.3333%;
}
.col-sm-pull-9 {
    right: 75%;
}
.col-sm-pull-8 {
    right: 66.6667%;
}
.col-sm-pull-7 {
    right: 58.3333%;
}
.col-sm-pull-6 {
    right: 50%;
}
.col-sm-pull-5 {
    right: 41.6667%;
}
.col-sm-pull-4 {
    right: 33.3333%;
}
.col-sm-pull-3 {
    right: 25%;
}
.col-sm-pull-2 {
    right: 16.6667%;
}
.col-sm-pull-1 {
    right: 8.33333%;
}
.col-sm-pull-0 {
    right: auto;
}
.col-sm-push-12 {
    left: 100%;
}
.col-sm-push-11 {
    left: 91.6667%;
}
.col-sm-push-10 {
    left: 83.3333%;
}
.col-sm-push-9 {
    left: 75%;
}
.col-sm-push-8 {
    left: 66.6667%;
}
.col-sm-push-7 {
    left: 58.3333%;
}
.col-sm-push-6 {
    left: 50%;
}
.col-sm-push-5 {
    left: 41.6667%;
}
.col-sm-push-4 {
    left: 33.3333%;
}
.col-sm-push-3 {
    left: 25%;
}
.col-sm-push-2 {
    left: 16.6667%;
}
.col-sm-push-1 {
    left: 8.33333%;
}
.col-sm-push-0 {
    left: auto;
}
.col-sm-offset-12 {
    margin-left: 100%;
}
.col-sm-offset-11 {
    margin-left: 91.6667%;
}
.col-sm-offset-10 {
    margin-left: 83.3333%;
}
.col-sm-offset-9 {
    margin-left: 75%;
}
.col-sm-offset-8 {
    margin-left: 66.6667%;
}
.col-sm-offset-7 {
    margin-left: 58.3333%;
}
.col-sm-offset-6 {
    margin-left: 50%;
}
.col-sm-offset-5 {
    margin-left: 41.6667%;
}
.col-sm-offset-4 {
    margin-left: 33.3333%;
}
.col-sm-offset-3 {
    margin-left: 25%;
}
.col-sm-offset-2 {
    margin-left: 16.6667%;
}
.col-sm-offset-1 {
    margin-left: 8.33333%;
}
.col-sm-offset-0 {
    margin-left: 0;
}
}
@media (min-width: 992px) {
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.6667%;
}
.col-md-10 {
    width: 83.3333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.6667%;
}
.col-md-7 {
    width: 58.3333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.6667%;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.6667%;
}
.col-md-1 {
    width: 8.33333%;
}
.col-md-pull-12 {
    right: 100%;
}
.col-md-pull-11 {
    right: 91.6667%;
}
.col-md-pull-10 {
    right: 83.3333%;
}
.col-md-pull-9 {
    right: 75%;
}
.col-md-pull-8 {
    right: 66.6667%;
}
.col-md-pull-7 {
    right: 58.3333%;
}
.col-md-pull-6 {
    right: 50%;
}
.col-md-pull-5 {
    right: 41.6667%;
}
.col-md-pull-4 {
    right: 33.3333%;
}
.col-md-pull-3 {
    right: 25%;
}
.col-md-pull-2 {
    right: 16.6667%;
}
.col-md-pull-1 {
    right: 8.33333%;
}
.col-md-pull-0 {
    right: auto;
}
.col-md-push-12 {
    left: 100%;
}
.col-md-push-11 {
    left: 91.6667%;
}
.col-md-push-10 {
    left: 83.3333%;
}
.col-md-push-9 {
    left: 75%;
}
.col-md-push-8 {
    left: 66.6667%;
}
.col-md-push-7 {
    left: 58.3333%;
}
.col-md-push-6 {
    left: 50%;
}
.col-md-push-5 {
    left: 41.6667%;
}
.col-md-push-4 {
    left: 33.3333%;
}
.col-md-push-3 {
    left: 25%;
}
.col-md-push-2 {
    left: 16.6667%;
}
.col-md-push-1 {
    left: 8.33333%;
}
.col-md-push-0 {
    left: auto;
}
.col-md-offset-12 {
    margin-left: 100%;
}
.col-md-offset-11 {
    margin-left: 91.6667%;
}
.col-md-offset-10 {
    margin-left: 83.3333%;
}
.col-md-offset-9 {
    margin-left: 75%;
}
.col-md-offset-8 {
    margin-left: 66.6667%;
}
.col-md-offset-7 {
    margin-left: 58.3333%;
}
.col-md-offset-6 {
    margin-left: 50%;
}
.col-md-offset-5 {
    margin-left: 41.6667%;
}
.col-md-offset-4 {
    margin-left: 33.3333%;
}
.col-md-offset-3 {
    margin-left: 25%;
}
.col-md-offset-2 {
    margin-left: 16.6667%;
}
.col-md-offset-1 {
    margin-left: 8.33333%;
}
.col-md-offset-0 {
    margin-left: 0;
}
}
@media (min-width: 1200px) {
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-11 {
    width: 91.6667%;
}
.col-lg-10 {
    width: 83.3333%;
}
.col-lg-9 {
    width: 75%;
}
.col-lg-8 {
    width: 66.6667%;
}
.col-lg-7 {
    width: 58.3333%;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-5 {
    width: 41.6667%;
}
.col-lg-4 {
    width: 33.3333%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-2 {
    width: 16.6667%;
}
.col-lg-1 {
    width: 8.33333%;
}
.col-lg-pull-12 {
    right: 100%;
}
.col-lg-pull-11 {
    right: 91.6667%;
}
.col-lg-pull-10 {
    right: 83.3333%;
}
.col-lg-pull-9 {
    right: 75%;
}
.col-lg-pull-8 {
    right: 66.6667%;
}
.col-lg-pull-7 {
    right: 58.3333%;
}
.col-lg-pull-6 {
    right: 50%;
}
.col-lg-pull-5 {
    right: 41.6667%;
}
.col-lg-pull-4 {
    right: 33.3333%;
}
.col-lg-pull-3 {
    right: 25%;
}
.col-lg-pull-2 {
    right: 16.6667%;
}
.col-lg-pull-1 {
    right: 8.33333%;
}
.col-lg-pull-0 {
    right: auto;
}
.col-lg-push-12 {
    left: 100%;
}
.col-lg-push-11 {
    left: 91.6667%;
}
.col-lg-push-10 {
    left: 83.3333%;
}
.col-lg-push-9 {
    left: 75%;
}
.col-lg-push-8 {
    left: 66.6667%;
}
.col-lg-push-7 {
    left: 58.3333%;
}
.col-lg-push-6 {
    left: 50%;
}
.col-lg-push-5 {
    left: 41.6667%;
}
.col-lg-push-4 {
    left: 33.3333%;
}
.col-lg-push-3 {
    left: 25%;
}
.col-lg-push-2 {
    left: 16.6667%;
}
.col-lg-push-1 {
    left: 8.33333%;
}
.col-lg-push-0 {
    left: auto;
}
.col-lg-offset-12 {
    margin-left: 100%;
}
.col-lg-offset-11 {
    margin-left: 91.6667%;
}
.col-lg-offset-10 {
    margin-left: 83.3333%;
}
.col-lg-offset-9 {
    margin-left: 75%;
}
.col-lg-offset-8 {
    margin-left: 66.6667%;
}
.col-lg-offset-7 {
    margin-left: 58.3333%;
}
.col-lg-offset-6 {
    margin-left: 50%;
}
.col-lg-offset-5 {
    margin-left: 41.6667%;
}
.col-lg-offset-4 {
    margin-left: 33.3333%;
}
.col-lg-offset-3 {
    margin-left: 25%;
}
.col-lg-offset-2 {
    margin-left: 16.6667%;
}
.col-lg-offset-1 {
    margin-left: 8.33333%;
}
.col-lg-offset-0 {
    margin-left: 0;
}
}
.pl0 {
    padding-left: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}
.oh:hover {
    opacity: 0.8 !important;
}
.anim {
    transition: all 0.4s ease-in-out 0s;
}
.home .container {
    max-width: 1200px !important;
    width: 100% !important;
}
.navbar-inner {
    background: #ffffff none repeat scroll 0 0;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1200px;
}
.backgrounded.fastFadeFromTop {
    padding: 30px 0;
}
.synchro_new {
    float: left;
    width: 100%;
}
.synchro_new .homeslider.backgrounded {
    padding: 0 !important;
}
.homeslider .bx-clone {
}
.onlyprint {
    display: none;
}
.homeslider .container {
    max-width: 100% !important;
    width: 100% !important;
}
.sbanner {
    background: #eee none repeat scroll 0 0;
    height: 500px;
    overflow: hidden;
    position: relative;
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1) 0s;
    width: 100%;
}
.sbanner .slide {
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover !important;
    float: left;
    height: 500px;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.sbanner .slide.s1 {
    background: rgba(0, 0, 0, 0) url("../images/homebanner01.png") no-repeat scroll 50% 0;
}
.sbanner .slide img {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sbanner .slide .desc {
    left: 50%;
    max-width: 800px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 10;
}
.sbanner .slide .desc a {
    background: #6dc849 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    min-width: 140px;
    padding: 12px;
    text-align: center;
}